<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<!-- Sakai request filter, mapped to anything that goes to the struts servlet -->
	<filter>
		<filter-name>sakai.request</filter-name>
		<filter-class>org.sakaiproject.util.RequestFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>sakai.request</filter-name>
		<servlet-name>action</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- Sakai Struts Tool Servlet, for the options helper tool -->
	<servlet>
		<servlet-name>unisa.smsbatch</servlet-name>
		<servlet-class>
			org.sakaiproject.struts.util.StrutsTool
		</servlet-class>
		<init-param>
			<param-name>default</param-name>
			<param-value>default.do</param-value>
		</init-param>
		<init-param>
			<param-name>path</param-name>
			<param-value>/</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	

	<listener>
		<listener-class>
			org.sakaiproject.util.ToolListener
		</listener-class>
	</listener>
	
	<context-param>
		<param-name>customsmspathdev</param-name>
		<param-value>http://stratusdev.unisa.ac.za/sms/asps/SMS_Request.asp</param-value>	
  	</context-param>
  	<context-param>
		<param-name>customsmspathqa</param-name>
		<param-value>http://stratusdev.unisa.ac.za/sms/asps/SMS_Request.asp</param-value>	
  	</context-param>
  	<context-param>
		<param-name>customsmspathprod</param-name>
		<param-value>http://stratus.unisa.ac.za/sms/asps/SMS_Request.asp</param-value>	
  	</context-param>
  	<context-param>
	  	<param-name>smsenquirydev</param-name>
		<param-value>https://mydev.int.unisa.ac.za/unisa-findtool/default.do?sharedTool=unisa.smsenquiry</param-value>
  	</context-param>
  	<context-param>
	  	<param-name>smsenquiryqa</param-name>
		<param-value>https://myqa.int.unisa.ac.za/unisa-findtool/default.do?sharedTool=unisa.smsenquiry</param-value>
  	</context-param>
  	<context-param>
	  	<param-name>smsenquiryprod</param-name>
		<param-value>https://my.unisa.ac.za/unisa-findtool/default.do?sharedTool=unisa.smsenquiry</param-value>
  	</context-param>
  	<context-param>
		<param-name>applicationFullPath</param-name>
		<param-value>/data/sakai/content/smsbatch</param-value>
	</context-param>		
</web-app>