@import "font-awesome";
@if $skin-with-icons {
  [class^="icon-sakai--nyu"],
  [class*="icon-sakai--nyu"],
  [class^="icon-nyu"],
  [class*=" icon-nyu"] {
    @extend .fa-lg;
    @extend .fa;
  }

  .icon-sakai--nyu-libraries {
    font-family: 'nyu-classes-icons' !important;
    &:before {
      content: '\e051' !important;
    }
  }

  .icon-sakai--nyu-ls-music-resources {
    @extend .fa-music;
  }

  // Workspace Home - globe icon
  .icon-sakai--sakai-motd:before {
     content: '\f0ac' !important;
   }

  // Site Overview/Home - dot point list
  .icon-sakai--sakai-home:before,
  .icon-sakai--sakai-iframe-site:before {
    content: '\f0ca' !important;
  }
  // Force dot point list for commons when positioned first on homepage
  .Mrphs-toolsNav__menu ul li:first-child .icon-sakai--sakai-commons:before,
  .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem:first-child .icon-sakai--sakai-commons:before,
  .tool_list #sort1 li:first-child .icon-sakai--sakai-commons:before {
    content: '\f0ca' !important;
  }

  .icon-sakai--nyu-ls-music-resources          { @extend .fa-music; }
  .icon-sakai--nyu-mediasite-poly              { @extend .fa-film; }
  .icon-sakai--nyu-mediasite-engineering       { @extend .fa-film; }
  .icon-sakai--nyu-mediasite-stern             { @extend .fa-film; }
  .icon-sakai--nyu-mediasite-libraries         { @extend .fa-film; }
  .icon-sakai--nyu-panopto-law                 { @extend .fa-film; }
  .icon-sakai--nyu-panopto-poly                { @extend .fa-film; }
  .icon-sakai--nyu-panopto-engineering         { @extend .fa-film; }
  .icon-sakai--nyu-panopto-campusmedia         { @extend .fa-film; }

  .icon-sakai--sakai-blogwow                   { @extend .fa-feed; }
  .icon-sakai--sakai-bbb                       {
    font-family: 'nyu-classes-icons' !important;
    &:before {
      content: '\e03C' !important;
    }
  }
  .icon-sakai--sakai-rsf-evaluation            {
    font-family: 'nyu-classes-icons' !important;
    &:before {
      content: '\e046' !important;
    }
  }
  .icon-sakai--sakai-scorm-tool                {
    font-family: 'nyu-classes-icons' !important;
    &:before {
      content: '\e602' !important;
    }
  }
  .icon-sakai--sakai-scorm-singlepackage-tool  {
    font-family: 'nyu-classes-icons' !important;
    &:before {
      content: '\e602' !important;
    }
  }
  .icon-sakai--sakai-turningtool               {
    font-family: 'nyu-classes-icons' !important;
    &:before {
      content: '\e054' !important;
    }
  }
  .icon-sakai--sakai-groupergoogle             { @extend .fa-google; }
  .icon-sakai--sakai-groupersync               { @extend .fa-google; }
  .icon-sakai--sakai-oauth-admin               { @extend .fa-key; }
  .icon-sakai--sakai-joinable-groups           { @extend .fa-users; }

  .#{$namespace}toolTitleNav__link--help-popup {
    &:before {
      content: '\f059' !important;
    }

    &.external-news {
      &:before {
        content: '\f1ea' !important;
      }
    }
  }

  .icon-sakai--sakai-attendance {
    @extend .fa-hand-paper-o;
  }

  .icon-sakai--nyu-briteclass:before {
      content: '';
      background-image: url('images/briteclass-icon.png');
      background-repeat: no-repeat;
      background-position-x: center;
      width: 16px;
      height: 16px;
      display: block
  }

  .icon-sakai--nyu-aqua,
  .icon-sakai--nyu-cengage-mindtap-ls,
  .icon-sakai--nyu-cerego,
  .icon-sakai--nyu-cerego-groups,
  .icon-sakai--nyu-curriculumbuilder-libraries,
  .icon-sakai--nyu-echo360,
  .icon-sakai--nyu-echo360-hosted,
  .icon-sakai--nyu-foliotek,
  .icon-sakai--nyu-forclass,
  .icon-sakai--nyu-turningpoint-cloud,
  .icon-sakai--nyu-vitalsource,
  .icon-sakai--nyu-voicethread,
  .icon-sakai--nyu-webassign,
  .icon-sakai--nyu-webex,
  .icon-sakai--nyu-torsh-talent,
  .icon-sakai--nyu-piazza,
  .icon-sakai--nyu-ares {
    @extend .fa-globe;
  }

  .icon-sakai--nyu-follett-discover {
    font-family: 'nyu-classes-icons' !important;
    &:before {
      content: '\f1c8' !important;
    }
  }

  .icon-sakai--kaltura-admin,
  .icon-sakai--kaltura-media,
  .icon-sakai--kaltura-my-media {
    @extend .fa-lg;
    @extend .fa;
    @extend .fa-film;
  }

  .icon-sakai--sakai-commons {
    @extend .fa-commenting;
  }

  .icon-sakai--sakai-pages {
    @extend .fa-file;
  }
}