// --------------------------------------------------------------------------------------------------------------------
//  NYU Layout Classes
// --------------------------------------------------------------------------------------------------------------------



@media #{$tablet} {
  .nyu-desktop-only {
    display: none;
  }
}
@media #{$phone} {
  .nyu-desktop-only {
    display: none;
  }
}
@media #{$desktop} {
  .nyu-desktop-only {
    display: block;
  }
}


// --------------------------------------------------------------------------------------------------------------------
//  PA System
// --------------------------------------------------------------------------------------------------------------------
// Disable for mobile
body {
  @media #{$tablet} {
    .pasystem-banner-alerts,
    .featherlight.pasystem-popup,
    .pasystem-banner-alert-toggle {
      display: none !important;
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------
//  Header / Login
// --------------------------------------------------------------------------------------------------------------------
@media #{$tablet} {
  // hide the skipNav div on mobile as the nav items are not visible on mobile
  #skipNav {
    display: none;
  }


  #roleSwitch {
    display: none !important;
  }

  .is-logged-out {
    #mastLogin {
      margin: 8px !important;

      #loginForm {
        label {
          display: none;
        }
        input[type="text"], input[type="password"], input[type="email"] {
          width: 35%;
        }
      }
    }
  }

  ##{$namespace}xlogin{
    width: 98% !important;
    max-width: 30em;

    @media only screen and (max-width : 440px) {
      left: 1% !important;
    }

    fieldset {
      label {
        display: none !important;
      }
      input[type="text"], input[type="password"] {
        min-width: 100% !important;
        margin-bottom: 10px;
      }
    }
  }

  #timeout_alert_body {
    padding: 1em !important;
  }
}

// --------------------------------------------------------------------------------------------------------------------
//  Favorite Sites Navigation
// --------------------------------------------------------------------------------------------------------------------
@media #{$tablet} {
  body {
    .#{$namespace}topHeader {
      box-shadow: none;
    }

    ##{$namespace}sites-nav {
      height: $nyu-tablet-header-site-height !important;
      display: block !important;

      .#{$namespace}sitesNav__menu {
        li {
          display: none;
        }
        li.is-selected {
          display: block;

          > a.link-container { 
            color: $nyu-tablet-header-site-text-color !important;
            font-size: $nyu-tablet-header-site-text-size !important;
            border: none !important;
            background: transparent !important;
            padding: 0.5em 0 !important;
  
            > i, > i:before {
              color: $nyu-tablet-header-site-icon-color !important;
            }

            &:hover {
              color: $nyu-tablet-header-site-text-color !important;
              font-size: $nyu-tablet-header-site-text-size !important;
              border: none !important;
              background: transparent !important;
    
              > i {
                color: $nyu-tablet-header-site-icon-color !important;
              }
            }
          }
          .#{$namespace}sitesNav__dropdown {
            display: none !important;
          }
        }
      }
    }

    .view-all-sites-btn {
      margin-top: 55px;

      .all-sites-icon,
      .all-sites-label {
        color: $nyu-tablet-all-sites-link-color !important;
      }
    }

    &.active-more-sites {
      overflow: auto !important;

      #content {
        display: none;
      }
    }

    #selectSiteModal {
      width: 100% !important;
      right: 0 !important;
      top: 100px !important;
      height: auto !important;
      min-height: 100% !important;
      max-height: none !important;
      position: absolute !important;

      .tab-pane {
        max-height: none !important;
      }
    }

    .moresites-refresh-notification {
      display: none !important;
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------
//  Site Hierarchy / Reset Button
// --------------------------------------------------------------------------------------------------------------------
#nyuToolToggle {
  display: none;
}
@media #{$tablet} {
  body {
    .#{$namespace}portalWrapper {
      .#{$namespace}topHeader {
        z-index: 1;
        box-shadow: none !important;
        padding-top: $nyu-tablet-header-site-height;

        .#{$namespace}headerLogo {
          position: fixed;
          top: 0;
          z-index: 1;
        }
        #loginLinks {
          position: fixed;
          top: 13px;
          z-index: 1;
          right: 10px;
          border-left: none !important;
        }
        .#{$namespace}userNav__subnav {
          position: fixed;
          top: 37px;
        }
      }
      .#{$namespace}siteHierarchy {
        background: $nyu-tablet-breadcrumb-background-color !important;
        border-top: $nyu-tablet-divider-width solid $nyu-tablet-divider-color  !important;
        box-shadow: $nyu-tablet-divider-shadow !important;
        position: relative;

        #nyuToolToggle {
          display: inline-block;
          position: relative;
          margin-left: 0;
          margin-right: 20px;
          font-size: 15px;
          color: $nyu-tablet-all-sites-link-color;
          text-decoration: none;

          &:after {
            content: '';
            border-right: 1px solid #E5E5E5;
            height: 30px;
            display: inline-block;
            position: absolute;
            right: -15px;
            top: -4px;
          }

          &:hover {
            text-decoration: none !important;
            color: $nyu-tablet-all-sites-link-color;

            i {
              text-shadow: 0 0 5px rgba(165,165,165,0.95);
            }
          }
        }

        .#{$namespace}hierarchy--siteName,
        .#{$namespace}hierarchy--siteNameSeparator {
          display: none;
        }

        .#{$namespace}hierarchy--siteName,
        .#{$namespace}hierarchy--separator,
        .#{$namespace}breadCrumbs--link {
          color: $nyu-text-color !important;

          a {
            color: $nyu-text-color !important;
          }
        }
      }
    }
    .#{$namespace}pageColumns--single {
      .#{$namespace}toolTitleNav__button_container {
        top: -52px !important;
        right: 10px !important;

        .external-news {
          display: none !important;
        }
        .#{$namespace}toolTitleNav__link--help-popup {
          border: none !important;
          background-color: #FFFFFF !important;
          color: $nyu-tablet-all-sites-link-color !important;

          &:before {
            color: $nyu-tablet-all-sites-link-color !important;
            font-size: 16pt;
          }

          &:hover {
            border: none !important;
            background-color: #FFFFFF !important;
            color: $nyu-tablet-all-sites-link-color !important;

            &:before {
              color: $nyu-tablet-all-sites-link-color !important;
            }
          }

          &:after {
            content: 'Help';
            display: inline-block;
            vertical-align: middle;
            font-size: 14.5px;
            font-family: $font-family;
            padding: 0 4px 8px 2px;
          }
        }
      }
    }

    .#{$namespace}skipNav__menu {
      // show the tool menu to the left of breadcrumb
    }

    .user-dropdown-overlay {
      z-index: 1 !important;
    }
  }
}
@media #{$phone} {
  .#{$namespace}portalWrapper {
    .#{$namespace}siteHierarchy {
      position: absolute;
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------
//  Tool Menu
// --------------------------------------------------------------------------------------------------------------------
@media #{$tablet} {
  body {
    #toolMenuWrap,
    #toolMenu,
    .#{$namespace}collapseTools {
      display: none !important;
    }
  
    &.toolsNav--displayed {
      #toolMenuWrap,
      #toolMenu {
        display: block !important;
        width: 100% !important;
        flex-basis: 100% !important;
      }
      .#{$namespace}pagebody {
        display: none !important;
      }
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------
//  Tool Portlet
// --------------------------------------------------------------------------------------------------------------------
@media #{$tablet} {
  body {
    .portletBody {
      margin-top: 16px !important;
      min-height: auto !important;
    }
    #content {
      min-height: auto !important;

      > #siteStatus {
       display: block;
      }
    }
    .pasystem-banner-alerts {
      position: fixed !important;
      top: 0 !important;
      width: 100% !important;
      z-index: 2;

      .pasystem-banner-alert {
        margin: 0 !important;
        border-radius: 0 !important;
      }
    }
    .pasystem-banner-alert-toggle-list-item {
      top: 0 !important;
      position: absolute !important;
      left: 50% !important;

      .pasystem-banner-alert-toggle {
        .pasystem-banner-alert-toggle-text {
          display: none;
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Changes to Overview (synoptic tools)
// -------------------------------------------------------------------------------------------------------------------

@media #{$tablet} {
  #content {
    padding-top: 10px;
  }

  .#{$namespace}pageColumns--single {
    margin: 0 !important;
  }

  .#{$namespace}multipleTools {
    .#{$namespace}container {
      margin: 0 7px 10px !important;
    }
  }

  #jsr-edit {
    position: absolute;
    right: 0;
    top: 3px;
    white-space: nowrap;
  }

  #synopticCalendarOptions,
  #synopticChatOptions,
  #synopticMessageCenterOptions {
    display: block;
  }

  #content, .#{$namespace}container--footer {
    #col1of2, #col2of2 {
      display: block !important;
      width: 100% !important;
      margin: 0 !important;
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Changes to List Navigation (settings, assignments etc)
// -------------------------------------------------------------------------------------------------------------------
@media #{$tablet} {
  body {
    .listNav {
      .inlineForm {
        input {
          margin: 0;
        }
      }
    }
  }
}
