// --------------------------------------------------------------------------------------------------------------------
//  Links
// --------------------------------------------------------------------------------------------------------------------
body a[href] {
  text-decoration: $nyu-link-decoration;
  // Override any jQuery-UI styles
  color: $nyu-link-color;

  &:hover {
    text-decoration: $nyu-link-hover-decoration;
  }
}
// --------------------------------------------------------------------------------------------------------------------
//  Banner/Logo Header
// --------------------------------------------------------------------------------------------------------------------
.#{$namespace}mainHeader{
  .#{$namespace}headerLogo{
    height: $nyu-header-height;
    background-color: $nyu-header-background;
    padding: 0 !important;

    @media #{$nonPhone} {
      width: 100% !important;
      justify-content: flex-start !important;
      border-bottom: $nyu-divider-width solid $nyu-purple;
    }
    @media #{$phone} {
      width: 160px !important;
    }

    .#{$namespace}headerLogo--institution{
      background-size: 80% !important;
      background-position: 10px center !important;
      background-repeat: no-repeat !important;
    }
  }
}
@media #{$phone} {
  .#{$namespace}mainHeader{
    .#{$namespace}headerLogo{
      .#{$namespace}headerLogo--institution:before{
        font-size: 44px;
        line-height: 44px;
      }
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------
//  Top Banner Actions
// --------------------------------------------------------------------------------------------------------------------
.is-maximized {
  #loginLinks {
    border-color: $nyu-header-menu-divider-color !important;
  }
}
#loginLinks, .view-all-sites-btn {
  display: table-cell !important;
  vertical-align: middle;

  .Mrphs-loginUser {
    padding: 0 !important;
  }

  a, .all-sites-label {
    text-decoration: none !important;
  }
}
.view-all-sites-btn {
  .all-sites-icon,
  .all-sites-label {
    color: $nyu-all-sites-link-color !important;
  }

  @media #{$phone} {
    display: none !important;
  }
}
#loginUser {
  display: table-cell !important;
  padding: 0 8px !important;

  & > a {
    display: table-cell !important;
    vertical-align: middle;
    position: initial !important;
    padding: 0 4px;
  }
}
#mastLogin {
  margin: $nyu-header-menu-padding;
  font-size: $nyu-header-menu-text-size;

  @media #{$nonPhone} {
    margin-top: -40px !important;

    #loginLinks {
      padding-left: 5px !important;

      ul {
        margin-right: 22px !important;

        &:after {
          border-bottom-color: #E5E5E5 !important;
        }
      }
    }
  }

  #loginForm {
    border-left-color: red;

    label {
      color: $nyu-header-menu-color !important;
    }
    input[type="text"], input[type="password"], input[type="email"] {
     border: 1px solid #CCC !important;
    }
  }

  .has-avatar {
    .#{$namespace}userNav__submenuitem--profilepicture {
      //border: 1px solid rgba(0,0,0,0.1);
      background-repeat: no-repeat;
    }
  }

  .no-avatar {
    text-decoration: none !important;

    &::after {
      float: right;
    }

    .#{$namespace}userNav__submenuitem--username,
    .#{$namespace}userNav__submenuitem--userid {
      padding-top: 5px;
    }

    @media #{$phone} {
      top: 6px;
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------
//  Profile Picture Upload
// --------------------------------------------------------------------------------------------------------------------
body {
  span.#{$namespace}userNav__submenuitem--profilepicture {
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;

    &:hover {
      &:after {
        content: 'Change';
        background: $nyu-profile-picture-change-background-color;
        color: $nyu-profile-picture-change-color;
        position: absolute;
        bottom: 0px;
        font-size: 10px;
        width: 100%;
        text-align: center;
        padding: 0 0 4px;
        opacity: $nyu-profile-picture-change-opacity;
        box-shadow: -1px 0 3px #666;
      }
    }
  }
}
#profileImageUpload {
  .modal-dialog {
    width: 332px !important;
  }

  #upload {
    position: relative;

    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
  #cropme {
    height: 300px;
    width: 300px;
    margin-bottom: 20px;

    .cropper-view-box {
      border-radius: 50% !important;
    }
  }
  #cropToolbar {
    .profile-image-zoom-in {
      &:before {
        font-family: 'FontAwesome';
        content: '\f00e';
      }
    }
    .profile-image-zoom-out {
      &:before {
        font-family: 'FontAwesome';
        content: '\f010';
      }
    }
    .profile-image-pan-left {
      &:before {
        font-family: 'FontAwesome';
        content: '\f060';
      }
    }
    .profile-image-pan-right {
      &:before {
        font-family: 'FontAwesome';
        content: '\f061';
      }
    }
    .profile-image-pan-up {
      &:before {
        font-family: 'FontAwesome';
        content: '\f062';
      }
    }
    .profile-image-pan-down {
      &:before {
        font-family: 'FontAwesome';
        content: '\f063';
      }
    }
    .profile-image-rotate {
      &:before {
        font-family: 'FontAwesome';
        content: '\f01e';
      }
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------
//  Login
// --------------------------------------------------------------------------------------------------------------------
##{$namespace}xlogin{
  top: 20% !important;
  left: calc(50% - 15em) !important;
  width: 30em !important;
  h1 {
    display: none;
  }
  .logo {
    background-color: $nyu-header-background !important;
    margin-bottom: 20px;
    border-bottom: 1px solid $nyu-divider-color;

    background-size: 60% !important;
    background-position: 10px center !important;
    background-repeat: no-repeat !important;
  }
}


// --------------------------------------------------------------------------------------------------------------------
//  Favorite Sites Navigation
// --------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}topHeader{
    display: block !important;
    box-shadow: $nyu-divider-shadow;
    position: relative;

    a[href] {
      color: $nyu-header-menu-color;
    }

    @media #{$desktop} {
      padding-top: 0 !important;
    }
  }
  .#{$namespace}topHeader {
     .#{$namespace}loginNav {
        @media #{$phone} {
          position: absolute;
          right: 10px;
          top: 6px;
          margin-right: 0px !important;
        }
    }
  }
}
@media #{$nonPhone} {
  #linkNav {
    min-height: $nyu-favorite-sites-height;
    padding: $nyu-favorite-sites-padding;

    ul {
      li.#{$namespace}sitesNav__menuitem {
        > a.link-container {
          font-size: $nyu-favorite-sites-button-text-size;
          padding: 0.5em 28px 0.5em 0.5em !important;

          i.fa {
            color: $nyu-favorite-sites-button-icon-color !important;
          }

          &:hover {
            background-color: $nyu-favorite-sites-button-hover-background-color !important;
            border-color: $nyu-favorite-sites-button-hover-border-color !important;
            color: $nyu-favorite-sites-button-hover-text-color !important;

            i.fa {
              color: $nyu-favorite-sites-button-hover-icon-color !important;
            }
          }
        }

        &.#{$namespace}sitesNav__menuitem--myworkspace {
          > a.link-container {
            padding-right: 0.5em !important;
          }
        }

        &:not(.dropdown-is-visible) > a.link-container:hover, &:not(.dropdown-is-visible) > a.link-container:active {
          box-shadow: none !important;
        }

        &.is-selected {
          > a.link-container {
            font-size: $nyu-favorite-sites-button-current-text-size;

            i.fa {
              color: $nyu-favorite-sites-button-current-icon-color !important;
            }

            &:hover {
              background-color: $nyu-favorite-sites-button-current-hover-background-color !important;
              border-color: $nyu-favorite-sites-button-current-hover-border-color !important;
              color: $nyu-favorite-sites-button-current-hover-text-color !important;

              i.fa {
                color: $nyu-favorite-sites-button-current-hover-icon-color !important;
              }
            }
          }
        }

        &.dropdown-is-visible {
          position: relative;

          > a.link-container {
            border-color: $nyu-favorite-sites-tool-menu-border-color !important;

            &:after {
              border-bottom: 2px solid #FFF; //2px hides box shadow
              content: "";
              width: calc(100% - 2px);
              position: absolute;
              bottom: 0px;
              left: 1px;
              z-index: 100;
            }
          }
        }
        &.is-selected.dropdown-is-visible {
          > a.link-container {
            border-color: $nyu-favorite-sites-tool-menu-active-border-color !important;

            &:after {
              display: none;
            }
          }
        }

        ul {
          box-shadow: $nyu-favorite-sites-tool-menu-drop-shadow !important;
          border: 1px solid $nyu-favorite-sites-tool-menu-border-color !important;
          color: $nyu-favorite-sites-tool-menu-text-color !important;
          max-width: $nyu-favorite-sites-tool-menu-max-width;
          font-size: $nyu-favorite-sites-tool-menu-text-size !important;

          li {
            border-left: 4px solid transparent !important;

            .toolMenuIcon {
              color: $nyu-favorite-sites-tool-menu-icon-color !important;
            }

            &:hover {
              background-color: $nyu-favorite-sites-tool-menu-item-hover-background-color !important;
              border-color: $nyu-favorite-sites-tool-menu-item-hover-left-border-color !important;

              a {
                background-color: $nyu-favorite-sites-tool-menu-item-hover-background-color !important;
                color: $nyu-favorite-sites-tool-menu-item-hover-text-color !important;
                text-decoration: none !important;

                .toolMenuIcon {
                  color: $nyu-favorite-sites-tool-menu-item-hover-icon-color !important;
                }
              }
            }

            &.#{$namespace}sitesNav__submenuitem__gotosite {
              border-top: 1px solid $nyu-favorite-sites-tool-menu-divider-color !important;

              > a:after {
                font-family: FontAwesome;
                content: '\f178';
                margin-left: 10px;
                color: $nyu-favorite-sites-tool-menu-icon-color !important;
              }

              &:hover {
                border-top: 1px solid $nyu-favorite-sites-tool-menu-divider-color !important;

                > a:after {
                  color: $nyu-favorite-sites-tool-menu-item-hover-icon-color !important;
                }
              }
            }
          }
        }

        .#{$namespace}sitesNav__drop,
        .#{$namespace}sitesNav__dropdown{
          color: $nyu-favorite-sites-button-icon-color !important;
          border: none !important;
          background: none !important;
          box-shadow: none !important;
          text-align: center !important;

          &.is-clicked {
            top: 32% !important;
          }

          &:hover {
            color: $nyu-favorite-sites-button-hover-icon-color !important;
            border: none !important;
            background: none !important;
            box-shadow: none !important;
          }
        }

        &.is-selected {
          ul {
            border-color: $nyu-favorite-sites-tool-menu-active-border-color !important;
          }

          .#{$namespace}sitesNav__drop,
          .#{$namespace}sitesNav__dropdown{
            color: $nyu-favorite-sites-button-current-icon-color !important;
            border: none !important;
            background: none !important;
            box-shadow: none !important;

            &:hover {
              color: $nyu-favorite-sites-button-current-hover-icon-color !important;
              border: none !important;
              background: none !important;
              box-shadow: none !important;
            }
          }
        }
      }
    }
  }
}

#portalMask {
  background: $nyu-all-sites-mask-background !important;
}

#selectSiteModal{
  &.dhtml_more_tabs {
    background-color: $nyu-all-sites-background-color !important;
    drop-shadow: $nyu-all-sites-drop-shadow !important;

    @media #{$desktop} {
      position: absolute !important;
    }
  }

  #selectSite {
    .tab-bar {
      margin: 14px 0 0 0 !important;

      .tab-btn {
        color: $nyu-tool-tab-text-color !important;
        background-color: $nyu-tool-tab-background-color !important;
        border-color: $nyu-tool-tab-border-color !important;
        margin-right: -5px;
        position: relative;
        height: $nyu-tool-tab-height;
        border-bottom: 1px solid $nyu-tool-tab-border-color !important;
        padding-top: 7px !important;

        .favorites-tab-label {
          font-size: $nyu-tool-tab-text-size !important;
        }

        &:hover {
          color: $nyu-tool-tab-hover-text-color !important;
          background-color: $nyu-tool-tab-hover-background-color !important;

          &:before {
            border-top: 4px solid $nyu-tool-tab-hover-highlight-color !important;
            content: '';
            display: block;
            position: absolute;
            left: -1px;
            right: -1px;
            top: -1px;
          }
        }

        &.active {
          color: $nyu-tool-tab-active-text-color !important;
          background-color: $nyu-tool-tab-active-background-color !important;
          top: 0px;
          border-bottom: none !important;
          padding-top: 6px !important;

          .favorites-tab-label {
            font-size: $nyu-all-sites-tab-active-text-size !important;
          }

          &:before {
            border-top: 4px solid $nyu-tool-tab-active-highlight-color !important;
            content: '';
            display: block;
            position: absolute;
            left: -1px;
            right: -1px;
            top: -1px;
          }
        }
      }
    }
    .tab-pane {
      border-top: 1px solid $nyu-tool-tab-border-color;
      outline: none;

      .tab-box {
        border: none !important;
      }

      .favorites-term-header {
        font-size: $nyu-all-sites-title-text-size !important;
        font-weight: $nyu-all-sites-title-text-weight !important;
        color: $nyu-all-sites-title-text-color !important;
      }

      #otherSiteSearch {
        text-align: left !important;
        margin: 1em 0;
        position: relative;

        #txtSearch {
          padding: 0 5px 0 5px;
          border-radius: 50px !important;
          border: 1px solid #e5e5e5;
        }

        #txtSearch:focus {
          outline: none;
        }
      }

      ul.favoriteSiteList {
        clear: both;

        > li {
          min-height: 32px !important;
          color: $nyu-all-sites-button-text-color !important;
          background-color: $nyu-all-sites-button-background-color !important;
          border-color: $nyu-all-sites-button-border-color !important;
          border-radius: $nyu-all-sites-button-border-radius !important;
          padding: 0 !important;
          position: relative;

          > a, .fav-title > a {
            line-height: 26px !important;
            text-decoration: none !important;
            font-size: $nyu-all-sites-button-text-size !important;
          }

          .site-favorite-btn,
          .fav-title-myworkspace {
            padding-left: 10px;
            height: 30px;
            display: inline-block;
          }

          .toolMenus {
            color: $nyu-all-sites-button-dropdown-color !important;

            &.toolMenusActive {
              .fa.fa-chevron-down:before {
                content: '\f077' !important;
              }
            }
          }

          .fav-title > a {
            color: $nyu-all-sites-button-text-color !important;
            font-weight: $nyu-all-sites-button-text-weight !important;
            width: 100%;
            display: inline-block;

            &:hover {
              color: $nyu-all-sites-button-hover-text-color !important;
            }
          }

          .site-favorite-icon {
            color: $nyu-all-sites-button-star-empty-color !important;

            &.site-favorite {
              color: $nyu-all-sites-button-star-full-color !important;
            }
          }

          &.is-selected {
            color: $nyu-all-sites-button-selected-text-color !important;
            font-size: $nyu-all-sites-button-selected-text-size !important;
            font-weight: $nyu-all-sites-button-selected-text-weight !important;
            background-color: $nyu-all-sites-button-selected-background-color !important;
            border-color: $nyu-all-sites-button-selected-border-color !important;
            border-radius: $nyu-all-sites-button-selected-border-radius !important;

            .toolMenus {
              color: $nyu-all-sites-button-selected-dropdown-color !important;
            }

            .site-favorite-icon {
              color: $nyu-all-sites-button-selected-star-empty-color !important;

              &.site-favorite {
                color: $nyu-all-sites-button-selected-star-full-color !important;
              }
            }
          }

          &:hover {
            color: $nyu-all-sites-button-hover-text-color !important;
            background-color: $nyu-all-sites-button-hover-background-color !important;
            border-color: $nyu-all-sites-button-hover-border-color !important;

            > a, .fav-title > a {
              color: $nyu-all-sites-button-hover-text-color !important;
              font-size: $nyu-all-sites-button-hover-text-size !important;
              font-weight: $nyu-all-sites-button-hover-text-weight !important;
            }

            .toolMenus {
              color: $nyu-all-sites-button-hover-dropdown-color !important;
            }

            .site-favorite-icon {
              color: $nyu-all-sites-button-hover-star-empty-color !important;

              &.site-favorite {
                color: $nyu-all-sites-button-hover-star-full-color !important;
              }
            }
          }

          ul#otherSiteTools {
            padding-top: 5px;
            border-top: 1px solid $nyu-all-sites-tool-menu-divider-color;
            background-color: $nyu-all-sites-tool-menu-background-color !important;

            li {
              padding: 0 !important;
              margin: 0 !important;
              border-radius: 0 !important;

              a {
                display: block;
                color: $nyu-all-sites-tool-menu-text-color !important;
                border-left: $nyu-all-sites-tool-menu-left-border !important;
                background-color: $nyu-all-sites-tool-menu-background-color !important;
                padding: 5px 6px !important;
                font-weight: $nyu-all-sites-tool-menu-text-weight !important;
                font-size: $nyu-all-sites-tool-menu-text-size !important;

                .#{$namespace}toolsNav__menuitem--icon {
                  color: $nyu-all-sites-tool-menu-icon-color !important;
                }

                &:hover {
                  background-color: $nyu-all-sites-tool-menu-hover-background-color !important;
                  color: $nyu-all-sites-tool-menu-hover-text-color !important;
                  border-left: $nyu-all-sites-tool-menu-hover-left-border !important;

                  .#{$namespace}toolsNav__menuitem--icon {
                    color: $nyu-all-sites-tool-menu-hover-icon-color !important;
                  }
                }
              }

              &.gotosite {
                border-top: 1px solid #E5E5E5;

                a {
                  &:after {
                    font-family: FontAwesome;
                    content: '\f178';
                    margin-left: 10px;
                    color: $nyu-all-sites-tool-menu-icon-color !important;
                  }

                  &:hover {
                    &:after {
                      color: $nyu-all-sites-tool-menu-hover-icon-color !important;
                    }
                  }
                }
              }
            }
          }

          .fav-drag-handle {
            position: absolute;
            padding: 3px 0px 3px 10px;
            color: #E5E5E5 !important;
            height: 28px;
            right: 0;
            color: $nyu-all-sites-button-drag-color !important;
            border-left: 1px dotted #DDD;

            i {
              display: none;
            }

            &:before {
              font-family: 'nyu-classes-icons' !important;
              content: '\f1c5' !important;
              font-size: 18px;
            }

            &:hover {
              color: $nyu-all-sites-button-drag-hover-color !important;
            }
          }

          &:hover {
            .fav-drag-handle {
              color: $nyu-all-sites-button-drag-hover-color !important;
            }
          }
        }
      }
    }


    .favorites-select-all-none {
      padding-left: 14px;
      padding-right: 6px;
      cursor: pointer;
      margin: 0;
      height: 30px;
      float: left;

      &:hover {
        .site-favorite-icon:before {
          color: #999;
        }
        .site-favorite-icon.site-favorite:before {
            color: #F49D08;
        }
      }
    }
  }
  #otherSitesMenu {
    position: absolute;
    right: 10px;
    top: 4px;
    z-index: 3;
    width: 40px;

    li {
      > a {
        margin: 0 8px 0 0 !important;
      }
    }
  }
  .otherSitesMenuClose {
    font-size: inherit !important;
    vertical-align: middle;

    a {
      color: $nyu-all-sites-close-action-color !important;
      font-size: 20px;
      margin: 0 !important;
      display: inline-block;
      line-height: 30px;

      &:hover {
        color: $nyu-all-sites-close-action-hover-color !important;
      }
    }
  }
}
body.active-more-sites {
  .moresites-refresh-notification {
    display: none;
  }
}

// Fix for CLASSES-2330 in Lessons
body.active-more-sites {
  .#{$namespace}mainHeader, .#{$namespace}skipNav__menu {
    z-index: 100002 !important;
  }
  #portalMask {
    z-index: 100003 !important;
  }
  .#{$namespace}sitesNav__menuitem.view-all-sites-btn,
  #selectSiteModal {
    z-index: 100004 !important;
  }
}
// --------------------------------------------------------------------------------------------------------------------
//  Timeout Alert
// --------------------------------------------------------------------------------------------------------------------
#timeout_alert_body {
  box-shadow: $nyu-timeout-alert-shadow !important;
  background: $nyu-timeout-alert-background-color !important;
}

// --------------------------------------------------------------------------------------------------------------------
//  Site Hierarchy / Reset Button
// --------------------------------------------------------------------------------------------------------------------
// Hide the original breadcrumb section on desktop (we duplicate a simpler version for desktop)
@media #{$desktop} {
  .#{$namespace}portalWrapper {
    > .#{$namespace}siteHierarchy {
      display: none;
    }
  }
}

.#{$namespace}pagebody {
  .#{$namespace}siteHierarchy {
    box-shadow: none !important;
    padding: 0 !important;
    background: #FFFFFF !important;
    border-left: 1px solid $nyu-content-border-color;

    a.#{$namespace}hierarchy--toolName {
      margin: 1em 0 0.25em 1.25em !important;
      display: inline-block !important;
    }
  }
}

body {
  .#{$namespace}siteHierarchy {
    .#{$namespace}hierarchy--parent-sites {
      display: none;
    }

    a.#{$namespace}hierarchy--toolName {
      color: $nyu-reset-button-text-color !important;
      font-size: $nyu-reset-button-text-size !important;
      border-bottom: 1px solid transparent;
      text-decoration: none !important;

      &:hover {
        text-decoration: none !important;
        border-color: $nyu-reset-button-text-color !important;
      }
    }
  }
}



// --------------------------------------------------------------------------------------------------------------------
//  Tool Navigation
// --------------------------------------------------------------------------------------------------------------------



// --------------------------------------------------------------------------------------------------------------------
//  Main Content
// --------------------------------------------------------------------------------------------------------------------
.portletBody {
  // some morpheus elements are sometimes clipped :?(
  // so we need some padding/margin
  padding: 0 14px !important;
  margin: 6px 0 0 0 !important;
}
.#{$namespace}container--toolTitleNav {
  // so container header lines up with the container body
  padding: 10px 14px !important;
}

// -------------------------------------------------------------------------------------------------------------------
//  Sites navigation
// -------------------------------------------------------------------------------------------------------------------
#topnav_container {
  .#{$namespace}sitesNav__menuitem.is-selected > a.link-container:hover {
    color: $sites-nav-menu-item-selected-color !important;
  }
  .#{$namespace}sitesNav__menuitem > a.link-container:hover {
    border-color: #7F7F7F;
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Page Body / Main Content
// -------------------------------------------------------------------------------------------------------------------
body {
  &.#{$namespace}portalBody{
    background: $nyu-body-background-color !important;

    @media #{$phone}{
      background: $nyu-mobile-body-background-color !important;
    }
  }
}
#pageBody{
  @media #{$phone}{
    padding: 0 !important;
  }
}
.#{$namespace}mainContent{
  border-bottom: 1px solid #EEE;
}

// -------------------------------------------------------------------------------------------------------------------
//  PA System
// -------------------------------------------------------------------------------------------------------------------
.pasystem-banner-alert-toggle-list-item {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: none !important;

  @media #{$nonPhone} {
    top: 0 !important;
    padding: 0px 8px !important;
  }
  @media #{$phone} {
    top: 0 !important;
    left: auto !important;
    right: 80px !important;
    padding: 0 !important;
  }

  a {
    text-decoration: none !important;
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Unpublished notice
// -------------------------------------------------------------------------------------------------------------------
.#{$namespace}siteStatus{
  &.is-unpublished {
    color: $nyu-site-status-text-color !important;
    background-color: $nyu-site-status-background-color !important;
    height: $nyu-site-status-height - 1;
    padding: 0 !important;
    border-color: $nyu-site-status-border-color !important;
    border-radius: $nyu-site-status-border-radius !important;

    @media #{$phone} {
      height: $nyu-site-status-height - 10;
    }

    h4 {
      margin: 0 !important;
      line-height: $nyu-site-status-height;
      padding: 0 !important;

      @media #{$phone} {
        line-height: $nyu-site-status-height - 10;
      }
    }

    button {
      top: 4px !important;
      line-height: 14px !important;
      margin-left: 10px !important;

      @media #{$phone} {
        top: 0 !important;
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Role Switcher
//   - Change the way we show the role switch link.  Unfortunately that link is an
//     <li> tag, so we have to pull some trickery to make it look like it isn't a list item.
// -------------------------------------------------------------------------------------------------------------------
#roleSwitch  {
  background-color: $nyu-role-switch-background-color !important;
  border: 0 !important;
  min-height: initial !important;
  border-right: 1px solid $nyu-header-menu-divider-color !important;
  padding-right: 20px;
  display: table-cell;

  p {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    padding-top: 3px !important;
  }

  a {
    color: white !important;
    min-height: 0 !important;
    padding: 5px !important;
  }

  .#{$namespace}toolsNav__menuitem--icon {
    display: none !important;
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Footer
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}footer {
    margin: 0 !important;
    border-left: 1px solid #f0f0f0;
  
    .selectedTimeZone,
    ul {
      margin: 0 0 6px;
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Fancy Switch
//  - Switch generator CSS from https://proto.io/freebies/onoff/
// -------------------------------------------------------------------------------------------------------------------
body {
  .onoffswitch {
    position: relative; width: 66px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  }
  input.onoffswitch-checkbox {
    display: none;
  }
  .onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
  }
  .onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
  }
  .onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #4ACC5F; color: #FFFFFF;
  }
  .onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
  }
  .onoffswitch-switch {
    display: block; width: 16px; margin: 3.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 39px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Tool navigation
// -------------------------------------------------------------------------------------------------------------------
.#{$namespace}toolsNav__menuitem--icon {
  display: inline-block !important;
  vertical-align: 0 !important;
}
.#{$namespace}toolsNav__menuitem--title {
  width: auto !important;
  display: inline-block !important;
}
body.#{$namespace}toolMenu-collapsed #toolMenu ul li .#{$namespace}toolsNav__menuitem--title,
body.#{$namespace}toolMenu-collapsed ul#subSites ul li .#{$namespace}toolsNav__menuitem--title {
  display: none !important;
}
body.#{$namespace}toolMenu-collapsed #toolMenu ul li .Mrphs-toolsNav__menuitem--link,
body.#{$namespace}toolMenu-collapsed ul#subSites ul li .Mrphs-toolsNav__menuitem--link {
  text-align: center !important;
}
@media #{$nonPhone} {
  #toolMenuWrap {
    width: 200px !important;
    -webkit-flex-basis: 200px !important;
    flex-basis: 200px !important;
    text-align: left !important;
    margin-bottom: 2em !important;
    flex-shrink: 0;
  }
  #toolMenuWrap .#{$namespace}collapseTools.js-toggle-nav {
    border-right-color: transparent;
    background-color: transparent;
    border-bottom-color: $nyu-content-border-color;
  }
  #toolMenu, #subSites, .floatingToolMenu {
    padding: $nyu-tool-nav-padding;

    ul {
      li {
        border-bottom: 1px solid $nyu-tool-nav-border-color;
        min-height: $nyu-tool-nav-item-height;
        background-color: $nyu-tool-nav-item-background-color;

        .Mrphs-toolsNav__menuitem--link {
          width: 100%;
          min-height: $nyu-tool-nav-item-height !important;
          border-left: $nyu-tool-nav-item-border-left;
          border-bottom: none !important;
          font-size: $nyu-tool-nav-item-text-size !important;
          font-weight: $nyu-tool-nav-item-text-weight !important;

          .#{$namespace}toolsNav__menuitem--icon {
            color: $nyu-tool-nav-item-icon-color !important;
            width: 24px;
            margin-right: 10px !important;
            position: absolute;
          }

          &:hover {
            border-left: $nyu-tool-nav-item-hover-border-left;
            color: $nyu-tool-nav-item-hover-text-color;

            .#{$namespace}toolsNav__menuitem--icon {
              color: $nyu-tool-nav-item-hover-icon-color !important;
            }
          }

          &.is-invisible {
            color: $nyu-tool-nav-item-hidden-text-color !important;
            background-color: $nyu-tool-nav-item-hidden-background-color !important;

            .#{$namespace}toolsNav__menuitem--icon {
              font-style: normal !important;
              color: $nyu-tool-nav-item-hidden-icon-color !important;
            }

            &:hover {
              color: $nyu-tool-nav-item-hidden-hover-color !important;
              background-color: $nyu-tool-nav-item-hidden-hover-background-color !important;
              border-left: $nyu-tool-nav-item-hidden-hover-border-left !important;

              .#{$namespace}toolsNav__menuitem--icon {
                color: $nyu-tool-nav-item-hidden-hover-icon-color !important;
              }
            }

            &:after {
              top: 13px !important;
            }
          }

          > span {
            vertical-align: text-bottom;
          }

          .#{$namespace}toolsNav__menuitem--title {
            text-overflow: initial !important;
            white-space: inherit !important;
            overflow: visible !important;
            margin: 3px 0 0 32px;
          }
        }

        &.is-current {
          position: relative;
          margin-right: -1px;

          .Mrphs-toolsNav__menuitem--link, .Mrphs-toolsNav__menuitem--link.is-invisible {
            color: $nyu-tool-nav-item-selected-text-color !important;
            border-left: $nyu-tool-nav-item-selected-border-left !important;
            background-color: $nyu-tool-nav-item-selected-background-color !important;
            font-size: $nyu-tool-nav-item-selected-text-size !important;

            .#{$namespace}toolsNav__menuitem--icon {
              color: $nyu-tool-nav-item-selected-icon-color !important;
            }

            &:hover {
              color: $nyu-tool-nav-item-selected-hover-text-color !important;
              border-left: $nyu-tool-nav-item-selected-hover-border-left !important;
              background-color: $nyu-tool-nav-item-selected-hover-background-color !important;

              .#{$namespace}toolsNav__menuitem--icon {
                color: $nyu-tool-nav-item-selected-hover-icon-color !important;
              }
            }
          }
        }

        &.floatingToolMenu {
          line-height: 40px;
          color: $nyu-tool-nav-collapse-text-color !important;
          background-color: $nyu-tool-nav-collapse-background-color !important;
          border-top: $nyu-tool-nav-collapse-border-top !important;
          box-shadow: $nyu-tool-nav-collapse-shadow !important;

          &:hover {
            color: $nyu-tool-nav-collapse-hover-text-color !important;
            background-color: $nyu-tool-nav-collapse-hover-background-color !important;
            border-top: $nyu-tool-nav-collapse-hover-border-top !important;
            box-shadow: $nyu-tool-nav-collapse-hover-shadow !important;
          }
        }
      }
    }
  }
  .#{$namespace}collapseTools {
    height: 30px !important;
  }
  .#{$namespace}toolsNav__menuitem--link {
    text-align: left !important;
    padding: 10px 7px !important;
  }
  #content {
    //box-shadow: inset -2px 2px 4px -2px #AAA;
    border-left: 1px solid $nyu-content-border-color;
    // fix margin-top on content child causing margin above #content
    overflow: auto;
  }
  body.#{$namespace}toolMenu-collapsed {
    #toolMenu, #subSites, .floatingToolMenu {
      ul {
        li {
          &.floatingToolMenu {
            color: $nyu-tool-nav-collapse-active-text-color !important;
            background-color: $nyu-tool-nav-collapse-active-background-color !important;
            border-top: $nyu-tool-nav-collapse-active-border-top !important;
            box-shadow: $nyu-tool-nav-collapse-active-shadow !important;

            &:hover {
              color: $nyu-tool-nav-collapse-active-hover-text-color !important;
              background-color: $nyu-tool-nav-collapse-active-hover-background-color !important;
              border-top: $nyu-tool-nav-collapse-active-hover-border-top !important;
              box-shadow: $nyu-tool-nav-collapse-active-hover-shadow !important;
            }
          }
          .#{$namespace}toolsNav__menuitem--icon {
            position: static !important;
          }
        }
      }
    }
  }
}
@media #{$phone} {
  #content {
    border: none;
    margin-top: 100px !important;
    min-height: auto !important;
  }
  #toolMenuWrap {
    padding-top: 4px;
  }
  body.toolsNav--displayed #toolMenu ul li,
  body.toolsNav--displayed ul#subSites ul li {
    width: 100% !important;
    margin: 0 !important;
    border: none !important;
    display: block !important;

    &.#{$namespace}collapseTools {
      display: none !important;
    }
  }
  #toolMenu ul li .Mrphs-toolsNav__menuitem--link,
  #subSites ul li .Mrphs-toolsNav__menuitem--link,
  .floatingToolMenu ul li .Mrphs-toolsNav__menuitem--link {
    text-align: left !important;
    padding: 10px 20px !important;
    height: auto !important;
  }
  body.Mrphs-toolMenu-collapsed {
    #toolMenuWrap {
      width: 100% !important;
      max-width: 100% !important;
    }
    #toolMenu, ul#subSites {
      ul {
        li {
          .Mrphs-toolsNav__menuitem--link {
            text-align: left !important;

            &:hover {
              .#{$namespace}toolsNav__menuitem--title {
                margin: 0 !important;
                background: transparent !important;
                border-radius: none !important;
                border-left: none !important;
                position: relative !important;
                padding: 0 !important;
              }
            }
          }
          .#{$namespace}toolsNav__menuitem--title {
            display: inline !important;
          }
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Lessons-Tool Subpage Menu
// -------------------------------------------------------------------------------------------------------------------

body {
  #toolMenu {
    li.has-lessons-sub-pages {
      margin-right: 0;

      &.is-parent-of-current.expanded {
        .Mrphs-toolsNav__menuitem--link {
          border-left: $nyu-tool-nav-item-border-left !important;
        }
      }

      > .Mrphs-toolsNav__menuitem--link {
        .#{$namespace}toolsNav__menuitem--icon {
          &:before {
            content: '\f0da';
          }
        }
      }

      &.has-lessons-sub-pages {
        > .Mrphs-toolsNav__menuitem--link {
          background-color: $nyu-tool-nav-item-background-color !important;

          &.is-current, &.is-parent-of-current {
            .#{$namespace}toolsNav__menuitem--title {
              font-weight: bold !important;
            }
          }

          &:hover {
            background-color: $nyu-tool-nav-item-hover-background-color !important;
          }
        }

        .lessons-top-level-placeholder {
          .lessons-expand-collapse-icon {
            position: absolute;

            .Mrphs-toolsNav__menuitem--icon {
              position: relative;
            }
          }

          .lessons-goto-top-page {
            .Mrphs-toolsNav__menuitem--title {
              color: $nyu-tool-nav-item-text-color;
            }
            &:hover {
              .Mrphs-toolsNav__menuitem--title {
                color: $nyu-tool-nav-item-hover-text-color;
              }
            }
          }

          &:hover {
            .lessons-goto-top-page {
              .Mrphs-toolsNav__menuitem--title {
                &:after {
                  font-family: 'FontAwesome';
                  content: '\f0a9';
                  padding-left: 4px;
                }
              }
            }
          }
          .lessons-goto-top-page {
            &:focus {
              .Mrphs-toolsNav__menuitem--title {
                &:after {
                  font-family: 'FontAwesome';
                  content: '\f0a9';
                  padding-left: 4px;
                  font-style: initial;
                }
              }
            }
          }
        }
      }

      &.expanded {
        background-color: $nyu-tool-nav-item-selected-background-color;

        &.is-parent-of-current {
          > .Mrphs-toolsNav__menuitem--link {
            .#{$namespace}toolsNav__menuitem--icon {
              color: $nyu-tool-nav-item-icon-color !important;
            }
            .#{$namespace}toolsNav__menuitem--title {
              color: $nyu-tool-nav-item-text-color !important;
              font-weight: normal !important;
            }
            &:hover {
              color: $nyu-tool-nav-item-hover-text-color !important;
              border-left: $nyu-tool-nav-item-hover-border-left !important;

              .#{$namespace}toolsNav__menuitem--icon {
                color: $nyu-tool-nav-item-hover-icon-color !important;
              }
            }
          }
        }

        > .Mrphs-toolsNav__menuitem--link {
          background-color: $nyu-tool-nav-item-selected-background-color !important;

          &:hover {
            background-color: $nyu-tool-nav-item-selected-hover-background-color !important;
          }

          .#{$namespace}toolsNav__menuitem--icon {
            &:before {
              //content: '\f0d7';
            }

            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }
      }

      &.sliding-down {
          background-color: $nyu-tool-nav-item-selected-background-color !important;

          .Mrphs-toolsNav__menuitem--link {
              .#{$namespace}toolsNav__menuitem--icon {
                  -webkit-transition-duration: 0.5s;
                  -moz-transition-duration: 0.5s;
                  -o-transition-duration: 0.5s;
                  transition-duration: 0.5s;

                  -webkit-transition-property: -webkit-transform;
                  -moz-transition-property: -moz-transform;
                  -o-transition-property: -o-transform;
                  transition-property: transform;

                  -ms-transform: rotate(90deg);
                  -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
              }
              background-color: $nyu-tool-nav-item-selected-background-color !important;

              &:hover {
                  background-color: $nyu-tool-nav-item-selected-background-color !important;
              }
          }
      }

      &.sliding-up {
          .Mrphs-toolsNav__menuitem--link {
              .#{$namespace}toolsNav__menuitem--icon {
                  -webkit-transition-duration: 0.5s;
                  -moz-transition-duration: 0.5s;
                  -o-transition-duration: 0.5s;
                  transition-duration: 0.5s;

                  -webkit-transition-property: -webkit-transform;
                  -moz-transition-property: -moz-transform;
                  -o-transition-property: -o-transform;
                  transition-property: transform;

                  -ms-transform: rotate(0deg);
                  -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
              }
          }
      }

      ul.lessons-sub-page-menu {
        display: none;

        li {
          display: block;
          border-bottom: none;
          min-height: 28px;
          max-height: 100px;
          text-overflow: ellipsis;
          overflow:hidden;
          background-color: #FFFFFF;

          &:last-child{
              margin-bottom: 8px;
          }

          a {
            text-align: left;
            padding: 3.5px 3.5px 3.5px 40px;
            font-size: 12px !important;
            min-height: 28px;
            max-height: 100px;
            text-overflow: ellipsis;
            overflow:hidden;
            border-left: $nyu-tool-nav-item-border-left !important;
            color: $nyu-tool-nav-item-text-color !important;
            display: flex;
            align-items: center;
            text-decoration: none;

            &:hover {
              border-left: $nyu-tool-nav-item-hover-border-left !important;
              background-color: $nyu-tool-nav-item-hover-background-color !important;
              color: $nyu-tool-nav-item-hover-text-color !important;
            }

            &.is-invisible {
              color: $nyu-tool-nav-item-hidden-text-color !important;
              font-style: italic;
              position: relative;

              .#{$namespace}toolsNav__menuitem--icon {
                font-style: normal !important;
                color: $nyu-tool-nav-item-hidden-icon-color !important;
              }

              &:hover {
                color: $nyu-tool-nav-item-hidden-hover-color !important;

                .#{$namespace}toolsNav__menuitem--icon {
                  color: $nyu-tool-nav-item-hidden-hover-icon-color !important;
                }
              }

              &:after {
                @extend .fa-lg;
                @extend .fa;
                content: '\f070';
                position: absolute;
                top: 8px;
                right: 4px;
              }
            }
            &.has-prerequisite {
              color: $nyu-tool-nav-item-hidden-text-color !important;
              position: relative;

              &.disabled {
                cursor: not-allowed;
              }

              &:hover {
                color: $nyu-tool-nav-item-hidden-hover-color !important;
              }
            }
          }

          &.is-current {
            margin-right: 0;

            a {
              font-weight: bold !important;
              color: $nyu-tool-nav-item-selected-text-color !important;
              border-left: $nyu-tool-nav-item-selected-border-left !important;
              margin-right: 0;

              &:hover {
                color: $nyu-tool-nav-item-selected-hover-text-color !important;
                border-left: $nyu-tool-nav-item-selected-hover-border-left !important;
                background-color: $nyu-tool-nav-item-selected-hover-background-color !important;
              }
            }
          }
        }
      }

      &.is-current {
        .lessons-goto-top-page {
          .Mrphs-toolsNav__menuitem--title {
            color: $nyu-tool-nav-item-selected-text-color !important;
          }
          &:hover {
            .Mrphs-toolsNav__menuitem--title {
              color: $nyu-tool-nav-item-selected-hover-text-color !important;
            }
          }
        }
      }

      &.is-current.is-parent-of-current {
        .lessons-goto-top-page {
          .Mrphs-toolsNav__menuitem--title {
            color: $nyu-tool-nav-item-text-color !important;
          }
          &:hover {
            .Mrphs-toolsNav__menuitem--title {
              color: $nyu-tool-nav-item-hover-text-color !important;
            }
          }
        }
      }

      @media #{$tablet} {
        &.expanded {
          .lessons-goto-top-page {
            display: inline-block;
          }
        }
      }
    }
  }
  &.#{$namespace}toolMenu-collapsed {
    #toolMenu {
      li {
        &.has-lessons-sub-pages {
          .lessons-sub-page-menu {
            display: none !important;
          }
          .#{$namespace}toolsNav__menuitem--icon {
            -ms-transform: rotate(0deg) !important;
            -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
            &:before {
              content: '\f212';
            }
          }
          &.is-current, &.is-parent-of-current,
          &.expanded.is-current, &.expanded.is-parent-of-current {
            .#{$namespace}toolsNav__menuitem--link {
              border-left: $nyu-tool-nav-item-selected-border-left !important;
              .#{$namespace}toolsNav__menuitem--icon {
                color: $nyu-tool-nav-item-selected-icon-color !important;
              }
              &:hover {
                .#{$namespace}toolsNav__menuitem--icon {
                  color: $nyu-tool-nav-item-selected-icon-color !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
