@import "font-awesome";

// -------------------------------------------------------------------------------------------------------------------
//  Tool Warning mixin
// -------------------------------------------------------------------------------------------------------------------
@mixin toolWarningMessage( $content ) {
  content: $content;
  background: $warn-background-color;
  padding: 10px;
  color: $warn-color;
  border: 1px solid lighten($warn-color, 25%);
  text-align: center;
  display: block;
  margin: 0 10px 20px;
}

// -------------------------------------------------------------------------------------------------------------------
//  Form things
// -------------------------------------------------------------------------------------------------------------------

body {
  .select, body select.form-control, select {
    background-color: $nyu-dropdown-background-color;

    &:disabled,&[disabled="disabled"],&[disabled],&[disabled="true"] {
      background-color: $button-background-color;
      color: lighten( $button-text-color, 5% );
      cursor: not-allowed;
      opacity: 0.7;
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Buttons
// -------------------------------------------------------------------------------------------------------------------

// hide the directtool action
.#{$namespace}toolTitleNav__link.#{$namespace}toolTitleNav__link--directurl {
  display:  none !important;
}
// fix cray z-index on tool headers and buttons
.#{$namespace}toolTitleNav__button_container,
.#{$namespace}multipleTools .#{$namespace}toolTitleNav .#{$namespace}toolTitleNav__title {
  z-index: 0 !important;
}

// -------------------------------------------------------------------------------------------------------------------
//  Tool Tabs
//   - restyle tabs with blue bar for current
//   - ensure the new and help actions are rendered above the tabs
// -------------------------------------------------------------------------------------------------------------------
@media #{$nonPhone} {
  body {
    #content {
      overflow: visible !important;
    }
    .#{$namespace}toolTitleNav {
      margin-top: 0 !important;
    }
    .#{$namespace}pageColumns--single {
      .#{$namespace}toolTitleNav__button_container {
        top: -30px !important;
        right: 0 !important;
        position: absolute !important;
        float: none !important;
        left: initial !important;
      }
    }
    .#{$namespace}multipleTools {
      //.#{$namespace}toolTitleNav__button_container {
      //  top: -4px !important;
      //  right: -11px !important;
      //}
      .#{$namespace}pageColumns--single {
        .#{$namespace}toolTitleNav__button_container {
          top: 5px !important;
          right: 5px !important;
        }
      }
    }
    ul.navIntraTool {
      font-size: 0;
    }
    .navIntraTool {
      padding-left: 0 !important;
      padding-right: 1em !important;

      ul {
        font-size: 0;
      }

      li {
        margin-right: -1px !important;
        font-size: $nyu-tool-tab-text-size;
        display: inline-block;

        a {
          height: $nyu-tool-tab-height;
          margin-right: 0 !important;
          font-size: $nyu-tool-tab-text-size !important;
          padding: 0 10px !important;
          line-height: $nyu-tool-tab-height;
          text-transform: $nyu-tool-tab-text-transform !important;
          letter-spacing: $nyu-tool-tab-text-letter-spacing !important;

          &:hover {
            background-color: $nyu-tool-tab-hover-background-color !important;
            color: $nyu-tool-tab-hover-text-color !important;
            text-decoration: none !important;
            position: relative;

            &:before {
              border-top: 4px solid $nyu-tool-tab-hover-highlight-color !important;
              content: '';
              display: block;
              position: absolute;
              left: -1px;
              right: -1px;
              top: -1px;
            }
          }
        }

        span.current {
          margin: 0 !important;
          padding: 0 10px !important;
          color: $nyu-tool-tab-active-text-color !important;
          height: $nyu-tool-tab-height + 1;
          line-height: $nyu-tool-tab-height + 1;
          font-size: $nyu-tool-tab-active-text-size !important;
          background-color: $nyu-tool-tab-active-background-color !important;
          text-transform: $nyu-tool-tab-text-transform !important;

          &:before {
            border-top: 4px solid $nyu-tool-tab-active-highlight-color !important;
            content: '';
            display: block;
            position: absolute;
            left: -1px;
            right: -1px;
            top: -1px;
          }
        }

        .formItem {
          input[type="submit"] {
            margin: 0;
          }
          &.form-inline {
            input[type="submit"] {
              margin: 0;
              height: $nyu-tool-tab-height - 6;
              padding: 0px 10px;
            }
          }
          input[type="text"] {
            height: $nyu-tool-tab-height - 2;
            margin: 0px 0 0 6px;
            border: 1px solid #EAEAEA;

            &.form-control {
              height: $nyu-tool-tab-height - 6;
              margin: 0px 0 1px 6px;
            }
          }
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Content and Site Status
// -------------------------------------------------------------------------------------------------------------------
@media #{$desktop} {
  body {
    #content {
      > #siteStatus {
       display: none;
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  CKEditor
// -------------------------------------------------------------------------------------------------------------------
/* CLASSES-1355 Show a helpful tooltip  */
span.cke_bottom {
    height: 33px;
}
span.cke_bottom:after {
    content: 'Ctrl+Right-Click to access the editor\'s context menu';
    position: absolute;
    bottom: 3px;
    left: 13px;
    text-shadow: 1px 1px 1px #FFF;
}

span.cke_bottom .cke_resizer.cke_resizer_ltr {
    position: relative;
    top: 13px;
}

/* CLASSES-2655 Force the button color back to white */
a.cke_dialog_ui_button.cke_dialog_ui_button_ok {
    color: white !important;
}

a.cke_dialog_ui_button {
    color: black !important;
}


// -------------------------------------------------------------------------------------------------------------------
//  Date Picker
// -------------------------------------------------------------------------------------------------------------------
/* SU-95 */
.time-picker {
  margin-top: 27px;
}
#bbb_container .time-picker-field {
  width: 60px !important;
}
#bbb_container .date-picker-field {
  width: 120px !important;
}
#datepick-div .datepick-header {
  height: 25px !important;
  padding: 2px 0 !important;
}
#datepick-div .datepick-new-month {
  margin-right: 4px !important;
}
#datepick-div .datepick-new-month,
#datepick-div .datepick-new-year {
  background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==) !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;

  background-color: white !important;
  color: #444 !important;
  border: 1px solid #888 !important;
}
#datepick-div .datepick-days-cell.datepick-current-day a {
  background-color: #15A885 !important;
  color: #FFF !important
}

// -------------------------------------------------------------------------------------------------------------------
//  Changes to Overview (synoptic tools)
// -------------------------------------------------------------------------------------------------------------------
.nyu-hide-tool-header-on-desktop {
  min-height: 10px;
  border-left: 1px solid $nyu-content-border-color;
  background: #FFFFFF;

  .#{$namespace}siteHierarchy {
    display: none !important;
  }
}

.#{$namespace}toolBody--sakai-iframe-site {
  border-bottom: none !important;
}

form[name^='announcementListForm'] .instruction {
  background-color: inherit !important;
  border: 0 !important;
}

.#{$namespace}multipleTools {
  .#{$namespace}container {
    border: 1px solid $nyu-overview-portlet-border-color;
    box-shadow: $nyu-overview-portlet-shadow;
    margin-bottom: 20px;

    &.#{$namespace}toolTitleNav.#{$namespace}container.#{$namespace}container--toolTitleNav {
      border-top: none;
      border-left: none;
      border-right: none;
      box-shadow: none;
      margin: 0 !important;
    }

    .#{$namespace}container--toolTitleNav {
      background-color: $nyu-overview-portlet-title-background-color;
      border-bottom: 1px solid $nyu-overview-portlet-border-color;

      .#{$namespace}toolTitleNav__title {
        color: $nyu-overview-portlet-title-color !important;
        text-transform: none !important;
        font-size: $nyu-overview-portlet-title-text-size !important;
        letter-spacing: $nyu-overview-portlet-title-letter-spacing !important;
      }
    }
  }

  // exciting synoptic changes for announcements
  .#{$namespace}sakai-synoptic-announcement {
    .#{$namespace}toolTitleNav.#{$namespace}container--toolTitleNav {
        display: none;
    }
  }
  &.nyu-synoptic-announcements {
    // Fix alignment freak out on large screens (small widths as this refers to width of iframe)
    @media only screen and (max-width: 770px) {
      margin: -14px -14px 10px -14px;
    }
    @media only screen and (min-width: 771px) {
      margin: -4px -14px 10px -14px;
    }

    .#{$namespace}toolTitleNav.#{$namespace}container.#{$namespace}container--toolTitleNav {
      background-color: $nyu-overview-portlet-title-background-color;
      border-bottom: 1px solid $nyu-overview-portlet-border-color;

      .#{$namespace}toolTitleNav__title {
        color: $nyu-overview-portlet-title-color !important;
        text-transform: none !important;
        font-size: $nyu-overview-portlet-title-text-size !important;
        letter-spacing: $nyu-overview-portlet-title-letter-spacing !important;
      }
    }

    .#{$namespace}toolTitleNav__button_container {
      font-size: inherit !important;

      > span, > span > a {
        display: inline-block;
      }
    }
  }
}
// hide tool tab menu for calendar
// and message center synoptic tools
.nyu-synoptic-calendar-summary {
  .navIntraTool.actionToolbar {
    display: none !important;
  }
}
body > .portletBody > #calendarForm {
  .calHeader {
    text-align: center;
  }
}
#synopticForm {
  #showOptions {
    display: none !important;
  }
}
.nyu-synoptic-chat-form {
  .navIntraTool.actionToolbar {
    display: none !important;
  }
}
.#{$namespace}toolBody.#{$namespace}toolBody--sakai-iframe-site {
  padding: 10px 0;
}
// allow synoptic tables to wrap and ensure content can fit within a narrow viewport
body {
  #synopticForm,
  .sakai-synoptic-announcements #announcementListForm {
    .table-responsive {
      table {
        td, th {
          white-space: normal !important;
        }
      }
    }
  }
  @media #{$tablet} {
    .nyu-synoptic-calendar-summary {
      .calRight {
        input {
          padding: 4px 5px !important;
          margin: 0 2px 0 0 !important;
        }
      }
    }
    .sakai-synoptic-announcements {
      .listNav {
        .inlineForm {
          input, select {
            margin: 2px 0 0 !important;
          }
          input {
            padding: 4px 8px !important;
          }
        }
      }
    }
  }
}
body {
  @media #{$desktop} {
    .#{$namespace}multipleTools {
      .#{$namespace}container.#{$namespace}sakai-iframe-site {
        .portletBody.siteDescription {
          min-height: 405px;
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Changes to the Announcements tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-announcements {
    .message-body {
      background-color: #FFFFFF;
    }
    #announcementListForm {
      th[headers="subject"] {
        strong {
          font-size: 16px;
        }
        .itemAction {
          font-weight: normal;
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Changes to the Chat Room tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-chat {
    #topForm {
      margin-bottom: 1em;
    }
    .chatListHeadWrapper {
        padding: .2em 0 .2em .5em !important;
        margin: 0 0 .5em !important;
        border-bottom: 1px dotted silver;
    }
    h3.chatListHeadWrapper {
        margin-top: 0;
    }
    #chatPresenceHeadWrapper, .chatPresenceHeadWrapper {
        margin-bottom: .5em !important;
        padding: 0 0 .2em .2em !important;
        border-bottom: 1px dotted silver;
    }
    #chatListWrapper, .chatListWrapper {
        width: 100%;
        padding-bottom: .5em;
        float: left;
        margin-top: 1em !important;
    }
    .chatListMonitor {
        height: 300px;
        overflow: auto;
        overflow-y: auto;
        overflow-x: visible;
        border: none;
        /* This overflow is for Netscape*/
        overflow: -moz-scrollbars-vertical;
    }
    #chatPresenceWrapper, .chatPresenceWrapper {
        width: 16%;
        float: left;
        border: none;
        border-left: 1px dotted silver;
        min-height: 320px;
    }
    #chatList, .chatList {
        margin: 0;
        padding-left: 1.2em;
        list-style: none;
        width: 96%;
    }
    #chatList li, .chatList li {
        margin: .2em 0 0 2em;
        padding: .2em 0;
        text-indent: -3em;
        line-height: 1.2em;
    }
    #chatList li .chatDate, .chatList li .chatDate {
        font-size: .8em
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Changes to the Resource tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-resources {
    #showForm {
      .btn-group.btn-group-sm {
        > button {
          margin-right: 5px !important;
        }
      }
      #saveCols {
        margin-top: 10px;
      }
      th.specialLink {
        font-weight: normal !important;
      }
      button.colPicker {
        margin-left: 5px;
      }
      label[for="dropboxHighlight"] {
        padding: 0.3em 0 0.3em 0.5em;
        margin: 0;
      }
    }
    #dragDropWrapper {
      form.dropzone {
        border: 4px dashed #DBDCDE !important;
        background: none !important;
        font-size: 16px;
        min-height: 300px;
        padding: 0;
        position: relative;
  
        .dz-message {
          margin: 0;
          position: absolute;
          width: 300px;
          height: 100px;
          left: 50%;
          margin-left: -150px;
          top: 50%;
          margin-top: -50px;
  
          &:before {
            content: "Choose files to upload";
            position: absolute;
            top: 4em;
            width: 200px;
            margin-left: -100px;
            left: 50%;
            border: 1px solid #2F7FAB;
            background-color: #2F7FAB;
            color: #FFF;
            padding: 4px 8px;
          }
          &:hover:before {
            background-color: #FFF;
            color: #2F7FAB;
          }
          &:after {
            content: "or";
            position: absolute;
            top: 2em;
            left: 50%;
            width: 20px;
            margin-left: -10px;
            color: #999;
          }
        }
      }
      #fileUploaderDesc {
        display: none !important;
      }
    }
    #navigatePanelInner {
      height: 320px !important;
    }
    #addFolderForm {
      label[for^="content_"] {
        line-height: 1.8em;
      }
    }
    #detailsForm {
      h4 {
        margin-top: 32px !important;
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Changes to the File Exchange tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-dropbox {
    form.dropzone {
      border: 4px dashed #DBDCDE !important;
      background: none !important;
      font-size: 16px;
      min-height: 300px;
      padding: 0;
      position: relative;

      .dz-message {
        margin: 0;
        position: absolute;
        width: 300px;
        height: 100px;
        left: 50%;
        margin-left: -150px;
        top: 50%;
        margin-top: -50px;

        &:before {
          content: "Choose files to upload";
          position: absolute;
          top: 4em;
          width: 200px;
          margin-left: -100px;
          left: 50%;
          border: 1px solid #2F7FAB;
          background-color: #2F7FAB;
          color: #FFF;
          padding: 4px 8px;
        }
        &:hover:before {
          background-color: #FFF;
          color: #2F7FAB;
        }
        &:after {
          content: "or";
          position: absolute;
          top: 2em;
          left: 50%;
          width: 20px;
          margin-left: -10px;
          color: #999;
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Changes to the Site Manage tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-siteinfo {
    // import from site
    .site-manage-import-sessions,
    .site-manage-import-other {
      display: block;
      width: 50%;
      float: left;

      @media #{$tablet} {
        width: auto;
        float: none;
      }

      label {
        font-weight: normal !important;
      }
    }

    // edit site
    form#classInformationForm {
      .form-group {
        input#title {
          width: 100%;
        }
      }
    }
  }
  .act {
    clear: both;
  }

  // Tool Order
  // needs to be after body, so drag clone pick up styles
  li.sortable_item.ui-draggable {
    &:before {
      font-family: 'nyu-classes-icons' !important;
      content: '\f1c5' !important;
      font-size: 18px;
      line-height: 18px;
      display: inline-block;
      width: 15px;
      margin: 0 0 0 4px;
      color: $nyu-all-sites-button-drag-color !important;
      vertical-align: middle;
    }

    &:hover {
      &:before {
        color: $nyu-all-sites-button-drag-hover-color !important;
      }
    }
    .item_control_box.dropdown > a {
      padding: 0 10px !important;
      line-height: 32px !important;
    }
  }

  // Add/Edit Tools form
  #toolHolderWW {
    .mathJaxToggleArea,
    .lessonsSubNavToggleArea {
      border: 1px solid #DDDDDD;
      border-radius: 5px;
      padding: 10px;
      margin: 20px 0 0 0;
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Changes to the Profile2 tool
// -------------------------------------------------------------------------------------------------------------------
body {
  #myPhoto {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 0 auto;

    img {
      max-height: 150px;
      height: 150px;
      max-width: none;
      width: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .friends-feed-item-photo-wrapper {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 55px;
    height: 55px;
    margin: 0 auto;

    .friends-feed-item-photo {
      min-width: 55px;
      min-height: 55px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: auto;
      max-height: 100%;
      max-width: none;
    }
  }

  .edit-image-button {
    top: auto !important;
    left: 0 !important;
    right: auto !important;
    bottom: 0 !important;
    height: auto !important;
    padding: 4px 2px 10px !important;
    width: 100% !important;
    background-color: $nyu-profile-picture-change-background-color !important;
    color: $nyu-profile-picture-change-color !important;
    opacity: $nyu-profile-picture-change-opacity !important;
    border: none !important;
  }

  .dummy-edit-image-button {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;

    &:hover {
      &:after {
        content: 'Change';
        background: $nyu-profile-picture-change-background-color;
        color: $nyu-profile-picture-change-color;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 14px;
        width: 100%;
        text-align: center;
        padding: 5px 5px 10px;
        opacity: $nyu-profile-picture-change-opacity;
        box-shadow: -1px 0 3px #666;
      }
    }
  }
}
// -------------------------------------------------------------------------------------------------------------------
//  Changes to the Forums/Messages tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .itemToolBarWrapper {
    clear: both;
  }

  .authorImage {
    display: block;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    overflow: hidden;
    position: relative;
    border: 1px solid #E5E5E5;

    a {
      display: block;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      max-height: 48px;
    }
  }

  #pvtMsgDetail {
    .authorImage {
      margin: 15px;
      float: left;
      height: 64px;
      width: 64px;

      img {
        max-height: 64px;
      }
    }
    
  }
  #msgForum {
    .authorImage {
      margin: 0 15px 0 0;
    }

    @media #{$tablet} {
      .itemNav {
        position: relative !important;
        right: 0 !important;
        top: 0 !important;
        margin: 5px 0 0 !important;
      }
    }
  }

  .#{$namespace}sakai-messages {
    form#compose {
      .jsfFormTable {
        table-layout: fixed;

        td:first-child {
          width: 180px;

          @media #{$tablet} {
            width: 100px;
          }
        }
      }
    }
  }

  @media #{$tablet} {
    .#{$namespace}sakai-forums {
      table.specialLink {
        td:nth-child(2) {
          .itemNav {
            .button,
            input[type="submit"] {
              display: block;
            }
          }
        }
      }
      .bogus {
        white-space: normal !important;
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Changes to the Samigo / Tests and Quizes
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-samigo {
    // CLASSES-2382 Banner for all users on mobile
    @media #{$tablet} {
      .#{$namespace}toolTitleNav.#{$namespace}container--toolTitleNav {
        &:before {
          @include toolWarningMessage('Taking high-stakes tests on mobile is not recommended. Please use the desktop interface.');
        }
      }
    }
    .mathjax-warning {
      &.alert, .alert {
        margin: 0;
        padding: 6px 12px;
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Changes to the Gradebook Classic tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-gradebook-tool {
    table.listHier {
      thead {
        tr {
          background: #f2f2f2;
        }
      }
      tbody {
        tr {
          background: #FFF;
        }
        tr:nth-child(2n) {
          background: #f2f2f2;
        }
      }
    }
    #gbForm {
      #headers {
        line-height: 17px;
      }
      .nyu-add-import-toolbar {
        .navIntraTool.actionToolbar {
          margin-top: 0;
        }
      }
      .gbSection {
        > table {
          border: none;

          tr.show.bogus {
            background-color: #FFF;
            border-top: 1px solid #CCC;
            margin-bottom: 30px;

            td {
              border: none;

              > table {
                td {
                  border: none;
                }
              }

              .itemSeparator {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}


// -------------------------------------------------------------------------------------------------------------------
//  Basiclti tools
// -------------------------------------------------------------------------------------------------------------------
body {
  @media #{$tablet} {
    // on mobile show a warning message for certain Basiclti tools
    .#{$namespace}toolBody--nyu-curriculumbuilder-libraries,
    .#{$namespace}toolBody--nyu-aqua,
    .#{$namespace}toolBody--nyu-webassign {
      &:before {
        @include toolWarningMessage('For the best experience, we recommend using the desktop interface for this tool.');
      }
    }
  }

  // Hide the fa_icon form field
  .foorm-text[id='fa_icon.input'] {
    display: none !important;
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Lessons tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-lessonbuildertool {
    .column {
      a[href] {
        color: $nyu-link-color;
      }
    }
    ul#toolbar {
      li {
        display: inline-block;
      }
    }
    .textType {
      overflow: hidden;
      min-height: 24px;
    }
    .edit-col {
      right: 0;
    }
    .gradingarea {
      margin-top: 20px;
      border-color: #CCC;
    }
    .navIntraTool {
      position: relative;

      .topaction {
        a {
          padding-top: 0.4em !important;
        }
      }
      li.contentButton {
        a {
          padding-top: 0 !important;
        }
      }

      .next-prev-nav {
        width: 100%;
        display: block;
        padding: 10px 0 0;

        a {
          font-size: 12px !important;
          padding: 3px 8px !important;
        }

        .nexprev {
          float: left;
          margin-left: 2px;
        }
        .nextprev {
          float: right;
          margin-right: -10px !important;
        }
      }
      .bottomButtons {
        .bottomRight {
          margin-right: -10px !important;
        }
      }
    }
    .next-prev-nav {
      margin-top: 40px;
    }
    .toolbar-wrapper ~ .next-prev-nav {
      margin-top: 0;
    }
    a[href].columnopen,
    a[href].add-bottom {
      text-decoration: none;
    }

    // CLASSES-3249 Kyle's sweet new styles
    .right-col {
      width: 100%;
    }
    .question .right-col {
      padding-right: 50px;
      width: 100%;
    }
    .column .commentDiv,
    .column .studentContentTable,
    .column .questionDiv .contentCol,
    .column .checklistDiv {
      background-color: #ffffff;
      border: 1px solid #3674A1;
      border-radius: 3px;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(204,204,204,0.5);
      -moz-box-shadow: 0px 0px 10px 0px rgba(204,204,204,0.5);
      box-shadow: 0px 0px 10px 0px rgba(204,204,204,0.5);
    }
    .questionDiv .contentCol,
    .checklistDiv {
      width:100%;
      margin-left: 26px;
      margin-right:26px;
      margin-top:-16px;
    }
    .studentContentTitle,
    .mainList li.question .questionText,
    h3.author {
      font-size: 1em;
      font-weight: 500;
      padding-bottom: 15px;
      border-bottom:1px solid #CCCCCC;
      margin-bottom:15px;
      line-height:1.6;
    }
    .multipleChoiceAnswer {
      color: #212121;
    }
    .multipleChoiceAnswer label {
      font-weight: normal;
    }
    .questionPollResult .questionPollResultBar {
      background-color: #3674A1;
      border: 1px solid #275678;
      border-top-left-radius: 1px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 5px;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    }
    .questionPollResult .questionPollResultLabel {
      padding-left: 10px;
      color: #212121;
    }
    input[type="submit"].question-submit,
    .addStudentContent {
      color: #ffffff !important;
    }
    input[type="checkbox"][disabled]+label,
    input[type="checkbox"][disabled="disabled"]+label,
    input[type="checkbox"][disabled="true"]+label,
    input[type="radio"][disabled]+label,
    input[type="radio"][disabled="disabled"]+label,
    input[type="radio"][disabled="true"]+label {
      color: #212121;
      font-weight:normal;
    }
     div.commentDiv h3 {
      border-bottom:none;
    }
    div.commentBody {
      margin-left:20px;
    }
    @media only screen and (min-width:771px) {
      .questionInstructorMessage {
        padding-left: 38px;
      }
    }
    @media only screen and (max-width:770px) {
      .questionInstructorMessage {
        padding-left: 10px;
      }
    }
    @media only screen and (min-width:771px) {
      .questionDiv .contentCol,
      .checklistDiv {
        padding-left:36px;
      }
    }
    @media only screen and (max-width:770px) {
      .shortanswerDiv .ui-wrapper {
        width: 100% !important;
        min-height:150px !important;
        padding: 0 !important;
      }
      .shortanswerDiv textarea {
        min-height: 150px !important;
        height: 100%;
        width: 100% !important;
      }
    }
    @media only screen and (min-width:771px)  {
      .shortanswerDiv .ui-wrapper {
        width: 95% !important;
        min-height:150px !important;
        padding: 0 !important;
      }
      .shortanswerDiv textarea {
        min-height: 150px !important;
        height: 100%;
        width: 100% !important;
      }
    }
  }
  @media #{$desktop} {
    #pageBody div.Mrphs-pagebody .#{$namespace}sakai-lessonbuildertool .Mrphs-toolTitleNav .Mrphs-toolTitleNav__button_container {
      top: 18px !important;
    }
  }
}


// -------------------------------------------------------------------------------------------------------------------
//  Delegated Access tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-delegatedaccess {
    .wicket-tree-table {
      .row {
        margin: 0;
      }
      select {
        height: 20px;
        padding: 0 5px;
        line-height: 20px;
        width: 100%;
      }
    }
  }
}


// -------------------------------------------------------------------------------------------------------------------
//  Syllabus tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-syllabus {
    // main listing page
    #syllabus {
      #accordion {
        .ui-accordion {
          margin-bottom: 20px;

          .ui-accordion-header {
            min-height: 42px;
            padding: 12px 10px;
            border-color: #E5E5E5;
            background: #FAFAFA;

            .edit-actions {
              float: right;
            }

            .editItemTitle {
              font-weight: bold;
              color: #3374A3;
              padding-left: 5px;
              margin-left: 10px;
            }

            .draft {
              margin-left: 10px;

              .editItemTitle {
                margin-left: 0;
              }
            }

            .syllabus-drag {
              @extent .fa-snowflake-o;
              font-size: 18px;
              position: absolute;
              color: #AAA;
              left: 4px;
              cursor: move;
              width: 20px;
              text-align: center;

              &:before {
                font-family: 'nyu-classes-icons' !important;
                content: '\f1c5' !important;
                width: 10px;
                display: inline-block;
              }

              img {
                display: none;
              }
            }

            .actionIcon {
              width: 22px;
              text-align: center;
              float: left;
              padding: 0;

              // fudge a full height button
              line-height: 40px;
              margin-top: -12px;
              margin-bottom: -12px;
            }

            .actionIcon.editDetails {
              text-decoration: none !important;
              margin-left: 14px;

              @extend .fa-pencil;
              &:before {
                font: normal normal normal 14px / 1 FontAwesome;
              }

              img {
                display: none;
              }
            }

            .actionIcon.publish {
              text-decoration: none !important;

              &.publishOn {
                 @extend .fa-eye;
                 &:before {
                   font: normal normal normal 14px / 1 FontAwesome;
                 }
              }

              &.publishOff {
                @extend .fa-eye-slash;
                 &:before {
                   font: normal normal normal 14px / 1 FontAwesome;
                 }
              }
            }

            .actionIcon.delete {
              text-decoration: none !important;

              @extend .fa-trash-o;
              &:before {
                font: normal normal normal 14px / 1 FontAwesome;
              }

              img {
                display: none;
              }
            }
          }

          .ui-accordion-header-icon {
            display: none;
          }

          .ui-accordion-content {
            border-color: #E5E5E5;
          }
        }
      }

      #expandLink, #collapseLink {
        display: inline !important;
        margin-left: 8px;
      }
    }
  }
}


// -------------------------------------------------------------------------------------------------------------------
//  Roster tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-site-roster2 {
    #roster_type_selector {
      display: none;
    }

    #roster-members {
      .roster-info {
        .rosterActions {
          .connection-add {
            display: none;
          }
        }
      }
    }
  }

  .cluetip-roster {
    .connection-add {
      display: none;
    }
  }
  ##{$namespace}sakai-roster {
    .roster-table {
      width: 100%;
    }
    .roster-table-row {
      .roster-table-cell {
        vertical-align: middle;

        .roster-group-cell {
          width: 120px !important;
          max-width: 120px !important;
          overflow: hidden;

          .roster-group-link {
            white-space: normal !important;
            display: block;
          }
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Commons tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-commons {
    .portletBody.commons-portletBody {
      padding: 8px 14px !important;
      margin: 0 !important;
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Random Bits and Bobs
// -------------------------------------------------------------------------------------------------------------------
body {
  select.form-control{
    @extend .select;
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Sitestats tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-sitestats {
    .navIntraTool.actionToolbar {
      margin-top: 5px !important;
    }
  }
}
