## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/admin/chef_aliases_list.vm,v 1.2 2005/05/19 19:53:01 gsilver.umich.edu Exp $
<div class="portletBody">
	#if($addForum)
		#if($menu)
			#toolbar($menu)
		#end
	#end
	
	<!-- Unisa Changes:2018/10/10: Add styling for table border used in sakai:flat_list tag -->
	<!-- Style can be added in body according to this: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/style#A_scoped_stylesheet -->
	<style type="text/css">
		table.listHier, tr, th, td{
			border: none !important
		}
	</style>
	<!-- End Unisa Changes -->

	<div>
		<h3>
			$tlang.getString("forum.index.heading") $siteTitle
		</h3>
	<div>

	<div class="instruction">
		$tlang.getString("forum.index.information0.new")<br><br>
		$tlang.getString("forum.index.information1.new")
		$tlang.getString("forum.index.information3.new")<br><br>
		$tlang.getString("forum.index.information4.new")<br><br>
	</div>
	
	<form name="forumDetailsForm" action="#toolForm("DiscussionForumsAction")" method="post">
		<table class ="listHier lines nolines" cellspacing="0">
			<tr>
				<th width="50%">$tlang.getString("forum.label.forumName")</th>
				<th>$tlang.getString("forum.label.topics")</th>
				<th>$tlang.getString("forum.label.posts")</th>
				<th>$tlang.getString("forum.label.lastPost")</th>
				<th>$tlang.getString("forum.label.creationDate")</th>				
			</tr>

			#foreach ($forum in $siteForums)
				<tr>	
					<td>
						<a href="#toolLinkParam("DiscussionForumsAction" "showTopics" "forumId=$forum.forumId&forumName=$forum.forumName")">$forum.forumName</a>
						#if ($updateAnyForum)
							#if ($forum.forumName!='General Subject Related Discussions')
								<a href="#toolLinkParam("DiscussionForumsAction" "editForum" "editForum=true&forumId=$forum.forumId")"><img src="/sakai-discussionforums-tool/images/edit.gif" alt="Click to edit a forum"/></a>
								<a href="#toolLinkParam("DiscussionForumsAction" "editForum" "editForum=false&forumId=$forum.forumId")"><img src="/sakai-discussionforums-tool/images/delete.gif" alt="Click to delete the forum"/></a>
							#end
						#end
						#if (!$updateAnyForum)
							#if ($forum.forumName!='General Subject Related Discussions')
								#if ($updateOwnForum)
									#if ($userID==$forum.userId)
										<a href="#toolLinkParam("DiscussionForumsAction" "editForum" "editForum=true&forumId=$forum.forumId")"><img src="/sakai-discussionforums-tool/images/edit.gif" alt="Click to edit a forum"/></a>
										<a href="#toolLinkParam("DiscussionForumsAction" "editForum" "editForum=false&forumId=$forum.forumId")"><img src="/sakai-discussionforums-tool/images/delete.gif" alt="Click to delete the forum"/></a>
									#end
								#end
							#end
						#end
					</td>
					<td>$forum.forumTopicsCount</td>
					<td>$forum.forumPosts</td>
					#if (!$forum.lastPostDate)
						<td>No Posting</td>
					#else
						<td>$forum.lastPostDate by $forum.lastPoster</td>
					#end 
					<td>$forum.creationDate</td>
				</tr>
				<tr>
					<td width="45%">$forum.forumDescription</td>
				</tr>
			#end	
		</table>
	</form>
</div>
