## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/admin/chef_aliases_list.vm,v 1.2 2005/05/19 19:53:01 gsilver.umich.edu Exp $
<div class="portletBody">
#if ($alertMessage)<div class="alertMessage"> $validator.escapeHtml($alertMessage)</div><div style="display:block;clear:both"/>#end
#if($menu)
	#toolbar($menu)
#end
 
<h3>$tlang.getString("faq.revise")</h3>

<div class="instruction">
 $tlang.getString("faq.faqeditinstruction")
<br> $tlang.getString("faq.required") <span class="reqStar">*</span>	
</div>
 
 <form name="listForm" action="#toolForm("FaqsToolAction")" method="post">

<div>
#foreach ($faqcontent in $content)

#foreach ($category in $faqCotegory)
<p class="shorttext">
	<label for="editFaq">$tlang.getString("faq.field.category")</label> <span class="reqStar">*</span>	$category.description
</p>
#end
	
<p class="shorttext">
<label>$tlang.getString("faq.questiontitle")</label> 	<span class="reqStar">*</span>	
<input type="text" id="question" name="question" value = "$faqcontent.question" size="50" maxlength="100" >
</p>


<input type="hidden" id="categoryId" name="categoryId" value = "$faqcontent.categoryId" >
<input type="hidden" id="contentId" name="contentId" value = "$faqcontent.contentId" >


<p class="shorttext">
<label>$tlang.getString("faq.answer")</label> 	<span class="reqStar">*</span>	
<textarea name="answer" id="answer" rows="30" cols="80" wrap="virtual"> $validator.escapeHtmlFormattedTextarea($faqcontent.answer)</textarea>
#chef_setupformattedtextarea("answer")
</p>
#end

</div>
	   <p class="act">
			<input type="submit" class="active" name="eventSubmit_saveEditedFaqContent" value=" $tlang.getString("button.save")"  accesskey="s"/>
			<input type="submit" name="eventSubmit_doCancel" value=" $tlang.getString("button.cancel") " accesskey="x"  />
		</p>
	
<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
</form>		
</div>
