## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/admin/chef_aliases_list.vm,v 1.2 2005/05/19 19:53:01 gsilver.umich.edu Exp $
<div class="portletBody">
#if ($alertMessage)<div class="alertMessage">$tlang.getFormattedMessage("faq.alert.nocategorydesc", $alertMessage)</div>#end

<h3>$tlang.getString("faq.add")	</h3>

 <form name="listForm" action="#toolForm("FaqsToolAction")" method="post">
<div class="instruction">
 $tlang.getString("faq.instruction") <br> $tlang.getString("faq.required") <span class="reqStar">*</span>	
</div>

<div>
<p class="shorttext">
	<label>$tlang.getString("faq.field.category")</label> <span class="reqStar">*</span>	
   <select name="selectedCategory" id="selectedCategory" >
     <option selected="selected" value="-1"></option>      	
     #foreach ($category in $categories)
     <option  value="$category.description">$category.description</option>
     #end
    
     </select>
</p>


<p class="shorttext">
<label>$tlang.getString("faq.field.category1")</label> 	
<input type="text" id="newCategoryDesc" name="newCategoryDesc" size="50" maxlength="100">
</p>

<p class="shorttext">
<label>$tlang.getString("faq.questiontitle")</label> 	<span class="reqStar">*</span>	
<input type="text" id="question" name="question" size="50" maxlength="100">
</p>


<p class="shorttext">
<label>$tlang.getString("faq.answer")</label> 	
<textarea name="answer" id="answer" rows="30" cols="80" wrap="virtual"> </textarea>
#chef_setupformattedtextarea("answer")
</p>

</div>
	   <p class="act">
			<input type="submit" class="active" name="eventSubmit_saveContent" value=" $tlang.getString("button.save")"  accesskey="s"/>
			<input type="submit" name="eventSubmit_doCancel" value=" $tlang.getString("button.cancel") " accesskey="x"  />
		</p>
<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
</form>		
</div>
