## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/admin/chef_aliases_list.vm,v 1.2 2005/05/19 19:53:01 gsilver.umich.edu Exp $
<div class="portletBody">

#if($addFaqContent)
#if($viewSpecificFaqLinks)
	#toolbar($viewSpecificFaqLinks)
#end
#end

 <h3>$tlang.getString("faq.confirmremove.heading")</h3>

<div class="instruction">
 $tlang.getString("faq.confirmremove.instruction")
</div>



 <form name="listForm" action="#toolForm("FaqsToolAction")" method="post">
 <table class ="listHier lines nolines" cellspacing="0" summary="$tlang.getString('gen.tablecaptionsite')">
						<tr>
							<th id="Id">$tlang.getString("faq.confirmremove.category")</th>
							<th id="Count">$tlang.getString("faq.confirmremove.questiontitle")</th>				
							<th id="Count">$tlang.getString("faq.confirmremove.modified")</th>				
						</tr>
						
 
#foreach ($category in $categories)
	<tr>	
	<td> $category.description </td>
	<td> $tlang.getString("faq.confirmremove.all") </td> 
	<td> $category.modifiedOn </td>
	</tr>
#end

#foreach ($content in $contents)
	<tr>	
	<td> $content.categoryDescription </td>
	<td> $content.question </td> 
	<td> $content.modifiedOn </td>
	</tr>
#end
</table>

 
	   <p class="act">
			<input type="submit" class="active" name="eventSubmit_remove" value=" $tlang.getString("button.delete")"  accesskey="s"/>
			<input type="submit" name="eventSubmit_doCancel" value=" $tlang.getString("button.cancel") " accesskey="x"  />
		</p>
	
<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
</form>		
</div>
