## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/admin/chef_aliases_list.vm,v 1.2 2005/05/19 19:53:01 gsilver.umich.edu Exp $
<div class="portletBody">

#if($editFaqContent)
	#toolbar($editfaqcontent)
#end
#if($addFaqContent)
	#toolbar($addfaqcontent)
#end
#if($deleteFaqContent)
	#toolbar($removefaqcontent)
#end


<h3>$tlang.getString("faq.add.heading")</h3>



 <form>

<input type="hidden" id="previousId" name="previousId" value = "$previousId" >
<input type="hidden" id="nextId" name="nextId" value = "$nextId" >


   <div align="right">
  	   <p class="act">
 	    #if($previousId)	
			<input type="submit" class="active" name="eventSubmit_previousFaq" value=" $tlang.getString("button.previous")"  accesskey="s"/>
		#end	

		 #if(!$previousId)
			<input type="submit" class="active" name="eventSubmit_previousFaq" value=" $tlang.getString("button.previous")" disabled  accesskey="s"/>
		#end
		
		<input type="submit" class="active" name="eventSubmit_returnToList" value=" $tlang.getString("button.return")"  accesskey="s"/>
		
		 #if($nextId)
			<input type="submit" class="active" name="eventSubmit_nextFaq" value=" $tlang.getString("button.next")"  accesskey="s"/>
		#end
		</p>
     <input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
 </div>

<div>
#foreach ($faqcontent in $content)

#foreach ($category in $faqCotegory)
<p class="shorttext">
	<label for="editFaq">$tlang.getString("faq.field.category")</label> $category.description
</p>
#end
	
<p class="shorttext">
<label>$tlang.getString("faq.questiontitle")</label> $faqcontent.question

<p class="shorttext">
<label>$tlang.getString("faq.answer")</label> 	$validator.escapeHtmlFormattedTextarea($faqcontent.answer)
</p>

<p class="shorttext">
<label>$tlang.getString("faq.lastmodified")</label>  $faqcontent.modifiedOn 
</p>

<input type="hidden" id="contentId" name="contentId" value = "$faqcontent.contentId" >
<input type="hidden" id="categoryId" name="categoryId" value = "$faqcontent.categoryId" >

#end

</div>

</form>		
</div>
