.site-identifier {
	color: $white;
	margin-bottom: 20px;
	padding: 10px 20px 0 20px;
	border-radius: 4px;
	margin-left: 15px;
	> h3 {
		margin: 0px;
		padding: 0 0 10px 0;
		> a {
			margin-right: 15px;
			color: $white;
		}
		> a:hover, a:focus {
			color: $sites-nav-background;
		}
	}
	@media #{$phone}{
		margin: 20px 0 !important;
	}
}
.ci-yellow-bg {
	background: $brand-yellow;
}
