input {
	font-size: 120%;
}

.ui-tooltip-content::after,.ui-tooltip-content::before {
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	left: 90px;
}

.ui-tooltip-content::before {
	bottom: -10px;
	border-color: #AAA transparent;
	border-width: 10px 10px 0;
}

.ui-tooltip-content::after {
	bottom: -7px;
	border-color: white transparent;
	border-width: 10px 10px 0;
}

/* Helper popup css start */
span.question {
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: #89A4CC;
	line-height: 16px;
	color: White;
	font-size: 13px;
	font-weight: bold;
	border-radius: 8px;
	text-align: center;
	position: relative;
}

span.question:hover {
	background-color: #3D6199;
}

div.tooltip {
	background-color: #3D6199;
	color: White;
	position: absolute;
	left: 25px;
	top: -25px;
	z-index: 1000000;
	width: 250px;
	border-radius: 5px;
}

div.tooltip:before {
	border-color: transparent #3D6199 transparent transparent;
	border-right: 6px solid #3D6199;
	border-style: solid;
	border-width: 6px 6px 6px 0px;
	content: "";
	display: block;
	height: 0;
	width: 0;
	line-height: 0;
	position: absolute;
	top: 40%;
	left: -6px;
}

div.tooltip p {
	margin: 10px;
	color: White;
}

/* Helper popup css end */