<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title rsf:id="page-title">Blog It: view blog</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link href="/library/skin/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
   <link href="/library/skin/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
   <script type="text/javascript" rsf:id="scr=portal-matter" language="JavaScript" src="/library/js/headscripts.js"></script>
   <script type="text/javascript" language="JavaScript" src="/library/js/jquery-ui-latest/js/jquery.min.js"></script>
   <script type="text/javascript" language="JavaScript" src="../content/js/jquery.qtip.min.js"></script>
   <link href="../css/BlogWow.css" type="text/css" rel="stylesheet" media="all" />

<script type="text/javascript">
	//Profile tooltips
	$(document).ready(function() {
		$('.blogwowUserProfile a').each(function() {
			var href = $(this).attr('href');
			if(href == "" || href.indexOf("javascript") != -1){
				return;
			}
			$(this).qtip({ 
				content: {text: '',	url: $(this).attr('href'), title: {	text: '',button: '[ X ]' } },
				position: {	corner: {target: 'center', tooltip: 'rightMiddle'} },
				show: { when: 'mouseover', solo: true, effect: {length:0} },
				hide: { when:'mouseout', fixed:true, delay: 300,  effect: {length:0} },
				style: { tip: true, border: {color:'#687E9C'}, name: 'light', width: 570 }
			});
			$(this).attr('href', 'javascript:;');
		});
	});
</script>
</head>

<body>
<div class="portletBody">

<div rsf:id="navIntraTool:" class="navIntraTool">
</div>
<div rsf:id="blog:">
<a rsf:id="blog-url" href=""><h3 rsf:id="blog-title">Andy Apple's blog</h3></a>
  <div rsf:id="message-for:*">
	<span>Message for user here</span>
  </div>
<div class="blogwowCommentContainer">
<div class="blogwowUserProfile">
  <a rsf:id="profile-formatted">
  	<img rsf:id="profile-image" src="../images/default-profile.png" width="100" alt="Default profile image" />
  </a>
  <div rsf:id="profile-name"></div>
  <br />
  <div rsf:id="profile-verbatim-text">
    Hi! I'm Andy, and I'm studying for an MPhil in Applied Research. My
    hobbies are hanging out at Indigo's, playing pool in Clare Cellars, and
    spending too long in the Rare Books Room at the UL. I'm a member of
    Footlights too - come see our summer show!
  </div>
</div>

<div rsf:id="blog-entry:" class="blogwowEntryContainer">
  <h4>
		<span rsf:id="blog-draft" class="highlight" >Draft - </span>
		<span rsf:id="entry-title" >Aliquam faucibus</span>
	</h4>
  <span rsf:id="blog-date" class="blogwowDate">10.24, 22nd May 07</span>
  <img rsf:id="blog-visibility" style="display:inline;" src="../images/world.png" title="This entry is publicly viewable" alt="Publicly Viewable" />
  <hr class="itemSeparator" align="left" />
  <div rsf:id="verbatim-blog-text" >
    Aliquam faucibus, velit eget accumsan interdum, mauris sapien
    consequat turpis, vel tristique sapien justo a urna. Etiam tincidunt
    tortor sit amet lacus. Curabitur imperdiet, nulla ac molestie feugiat,
    massa massa faucibus libero, eget convallis ipsum mauris vel ligula. Ut
    euismod diam sed arcu. Proin quis lacus. Duis sed erat ac elit commodo
    consequat. Mauris porttitor urna ac arcu. Suspendisse pretium urna non
    turpis. Sed varius lectus sed arcu. Nunc ante metus, placerat eget,
    sagittis nec, accumsan a, lorem.
  </div>
  <div rsf:id="action-items" class="itemAction">
    <a rsf:id="entry-link:" href="add_entry.htm">Edit entry</a> | 
    <a rsf:id="entry-link:" href="remove.htm">Remove entry</a>  | 
    <a rsf:id="entry-link:" href="comments.htm">22 comments</a> | 
    <a rsf:id="entry-link:" href="comments.htm">Leave a comment</a> |
    <a rsf:id="entry-link:" href="entry.htm">Permalink</a>
  </div>
  <form rsf:id="remove-entry-form" method="post">
    <input id="" type="submit" style="display:none" value="" rsf:id="remove-command" />
  </form>
  <div rsf:id="comment-div:">
	  <form rsf:id="remove-comment-form" method="post">
  	  <input id="" type="submit" style="display:none" value="" rsf:id="remove-comment-command" />
	  </form>
    <div class="discTria floatContainer">
      <span rsf:id="comment-header" class="leftcol">Says Candy Crabapple at 7.32pm, 24th May 07</span>
			<span class="rightcol">
				<a rsf:id="rm-comment" href="">Remove this comment</a>
			</span>
    </div>
    <p rsf:id="comment-text" class="blogwowCommentText">
      Aliquam faucibus, velit eget accumsan interdum, mauris sapien consequat turpis, vel tristique sapien 
      justo a urna. Etiam tincidunt tortor sit amet lacus. Curabitur imperdiet, nulla ac molestie feugiat, 
      massa massa faucibus libero, eget convallis ipsum mauris vel ligula. Ut euismod diam sed arcu. Proin quis 
      lacus. Duis sed erat ac elit commodo consequat. Mauris porttitor urna ac arcu. Suspendisse pretium urna non 
      turpis. Sed varius lectus sed arcu. Nunc ante metus, placerat eget, sagittis nec, accumsan a, lorem.
    </p>
    <!-- I'm not sure if we really need this link here. 
    <div class="itemAction">
      <a href="comments.htm">Leave a comment</a>
    </div>
    -->
  </div>
  <div rsf:id="add-comment-div" class="blogwowAddCommentContainer">
    <form rsf:id="add-comment-form" method="post">
      <h4 rsf:id="add-comment-header">Leave a comment</h4>
      <textarea id="" rsf:id="comment-text" class="commentBox" > </textarea>
      <p>
        <input id="" rsf:id="publish-button" type="submit" value="Publish comment"/>
        <input rsf:id="cancel-button" type="submit" value="Cancel"/>
      </p>
    </form>
    <script rsf:id="scroll-here-script">this.div.scrollIntoView(true);</script>
  </div>
</div>
<div rsf:id="blog-entry:empty">There are no blog postings yet</div>
<div class="cleaner">&nbsp;</div>
</div>
<div>
	<div class="leftcol">
		<img rsf:id="back-img" src="../images/resultset_previous.png" alt="back" /><a href="" rsf:id="previous-page">Previous 10 entries</a>
	</div>
	<div class="rightcol">
		<a href="" rsf:id="next-page">Next 10 entries</a><img rsf:id="forward-img" src="../images/resultset_next.png" alt="next" />
	</div>
</div>
<!--img src="../images/tea.gif" align="right" /-->
<div class="cleaner">&nbsp;</div>
</div>
</div>
</body>
</html>
