<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title rsf:id="page-title">Blog It: My Settings</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link href="/library/skin/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
   <link href="/library/skin/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
   <script type="text/javascript" rsf:id="scr=portal-matter" language="JavaScript" src="/library/js/headscripts.js"></script>
   <link href="../css/BlogWow.css" type="text/css" rel="stylesheet" media="all" />
</head>

<body>
<div class="portletBody">
  <div rsf:id="navIntraTool:" class="navIntraTool">
  </div>
  <br />
  <h3 rsf:id="my-settings-header">My blog settings</h3>
  <div class="tier1">
    <form rsf:id="my-settings-form" method="post">
      <div class="highlightPanel">
        <p>
          <span rsf:id="picture-url-label">URL for my picture:</span>
          &nbsp;&nbsp;&nbsp;
          <input rsf:id="picture-url-input" size="60" type="text" />
        </p>
        <span rsf:id="my-blog-profile">My blog profile:</span>
        <br />
        <p>
          <div class="blogwowEditorSmall">
            <div rsf:id="profile-text-input:">
              <textarea rows="10" cols="80">This should be the FCK editor. </textarea>
            </div>
          </div>
        </p>
        <p>
          <input rsf:id="change-settings-button" type="submit" value="Change settings" /> 
          <input rsf:id="cancel-settings-button" type="submit" value="Cancel" />
        </p>
      </div>
    </form>
  </div>
  <!--img src="../images/tea.gif" align="right" /-->
</div>
</body>
</html>
